## Refer to `notes.md` for more information on what sheets were combined in this script

Import libraries needed and read the `.xlsx` file to start scraping data.

In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
warnings.filterwarnings("ignore")

In [3]:
path = r"C:\Users\A00126508\OneDrive - PSEG\VOC Documentation\JD Power Session\JD Power Electric Business\JDP Elec Biz W125 all sheets Powersource.xlsx"

In [4]:
output = pd.read_excel(path, sheet_name=None)

In [5]:
sheet_names = list(output.keys())
sheet_names

['Table of Contents',
 'Electric Business Dimension Ran',
 'Overall Sat KPI by Brand 1 (2)',
 'Overall Sat KPI by Brand 2 (2)',
 'PSEG Impact of KPIs on Sat 1',
 'PSEG Impact of KPIs on Sat 2',
 'PSEG Impact of KPIs on Sat 3',
 'Safety & Reliability Brand and ',
 'Resolving Problems Brand and Ra',
 'Ease Brand and Rank KPIs',
 'Digital channels Brand and Rank',
 'People Brand and Rank KPIs',
 'Cost  Brand and Rank KPIs',
 'Trust  Brand and Rank KPIs',
 'Information provided  Brand and',
 'PSEG Firmographics',
 'NPS Groups Brand',
 'NPS Score Brand',
 'Historically Met KPI PSEG 1',
 'Historically Met KPI PSEG 2',
 'PSEG People KPIs Index',
 'PSEG Cost KPIs Index',
 'PSEG Safety & Reliability KPIs ',
 'PSEG Ease KPIs Index',
 'PSEG Digital Channels KPIs Inde',
 'PSEG Trust KPIs Index',
 'PSEG Info Provided KPIs Index',
 'PSEG Problem Res KPIs Index',
 'PSEG Overall Sat KPIs Index 1',
 'PSEG Overall Sat KPIs Index 2',
 'PSEG Cost Historical',
 'PSEG Safety Historical',
 'PSEG Resolving Problems Histori',
 'PSEG Ease Historical',
 'PSEG Digital Channels Historica',
 'PSEG People Historical',
 'PSEG Trust Historical',
 'PSEG Info Provided Historical']

# Delete first sheet in the workbook

In [6]:
del output["Table of Contents"]

In [7]:
output.keys()

dict_keys(['Electric Business Dimension Ran', 'Overall Sat KPI by Brand 1 (2)', 'Overall Sat KPI by Brand 2 (2)', 'PSEG Impact of KPIs on Sat 1', 'PSEG Impact of KPIs on Sat 2', 'PSEG Impact of KPIs on Sat 3', 'Safety & Reliability Brand and ', 'Resolving Problems Brand and Ra', 'Ease Brand and Rank KPIs', 'Digital channels Brand and Rank', 'People Brand and Rank KPIs', 'Cost  Brand and Rank KPIs', 'Trust  Brand and Rank KPIs', 'Information provided  Brand and', 'PSEG Firmographics', 'NPS Groups Brand', 'NPS Score Brand', 'Historically Met KPI PSEG 1', 'Historically Met KPI PSEG 2', 'PSEG People KPIs Index', 'PSEG Cost KPIs Index', 'PSEG Safety & Reliability KPIs ', 'PSEG Ease KPIs Index', 'PSEG Digital Channels KPIs Inde', 'PSEG Trust KPIs Index', 'PSEG Info Provided KPIs Index', 'PSEG Problem Res KPIs Index', 'PSEG Overall Sat KPIs Index 1', 'PSEG Overall Sat KPIs Index 2', 'PSEG Cost Historical', 'PSEG Safety Historical', 'PSEG Resolving Problems Histori', 'PSEG Ease Historical', 'PSEG Digital Channels Historica', 'PSEG People Historical', 'PSEG Trust Historical', 'PSEG Info Provided Historical'])

In [8]:
for sheet_name, df in output.items():
    print(f"Processing sheet: {sheet_name}")

Processing sheet: Electric Business Dimension Ran
Processing sheet: Overall Sat KPI by Brand 1 (2)
Processing sheet: Overall Sat KPI by Brand 2 (2)
Processing sheet: PSEG Impact of KPIs on Sat 1
Processing sheet: PSEG Impact of KPIs on Sat 2
Processing sheet: PSEG Impact of KPIs on Sat 3
Processing sheet: Safety & Reliability Brand and
Processing sheet: Resolving Problems Brand and Ra
Processing sheet: Ease Brand and Rank KPIs
Processing sheet: Digital channels Brand and Rank
Processing sheet: People Brand and Rank KPIs
Processing sheet: Cost  Brand and Rank KPIs
Processing sheet: Trust  Brand and Rank KPIs
Processing sheet: Information provided  Brand and
Processing sheet: PSEG Firmographics
Processing sheet: NPS Groups Brand
Processing sheet: NPS Score Brand
Processing sheet: Historically Met KPI PSEG 1
Processing sheet: Historically Met KPI PSEG 2
Processing sheet: PSEG People KPIs Index
Processing sheet: PSEG Cost KPIs Index
Processing sheet: PSEG Safety & Reliability KPIs
Processing sheet: PSEG Ease KPIs Index
Processing sheet: PSEG Digital Channels KPIs Inde
Processing sheet: PSEG Trust KPIs Index
Processing sheet: PSEG Info Provided KPIs Index
Processing sheet: PSEG Problem Res KPIs Index
Processing sheet: PSEG Overall Sat KPIs Index 1
Processing sheet: PSEG Overall Sat KPIs Index 2
Processing sheet: PSEG Cost Historical
Processing sheet: PSEG Safety Historical
Processing sheet: PSEG Resolving Problems Histori
Processing sheet: PSEG Ease Historical
Processing sheet: PSEG Digital Channels Historica
Processing sheet: PSEG People Historical
Processing sheet: PSEG Trust Historical
Processing sheet: PSEG Info Provided Historical

Segment Metric Dimension Value question rank measure dimension

# Transform Electric Business Ranking
Dimesion	Measure	Brand	Score	Rank

In [9]:
e_biz = output["Electric Business Dimension Ran"].iloc[3:]

In [10]:
dimension = e_biz["Table of Contents"]

In [11]:
dimension

3                                     NaN
4                                     NaN
5     Overall Customer Satisfaction Index
6                  Safety and reliability
7                      Problem resolution
8                                    Ease
9                        Digital Channels
10                                 People
11                                   Cost
12                                  Trust
13                   Information provided
Name: Table of Contents, dtype: object

In [12]:
measure = e_biz["Unnamed: 1"]

In [13]:
measure

3      NaN
4      NaN
5     Mean
6     Mean
7     Mean
8     Mean
9     Mean
10    Mean
11    Mean
12    Mean
13    Mean
Name: Unnamed: 1, dtype: object

In [14]:
others = e_biz.iloc[:, 2:]
others

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
3,Brand Name Deliverable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,East Large,NaN
4,Appalachian Power,Rank,BGE,Rank,Con Edison,Rank,Eversource,Rank,Jersey Central Power & Light,Rank,...,PPL Electric Utilities,Rank,PSE&G,Rank,PSEG Long Island,Rank,West Penn Power,Rank,East Large,Rank
5,576,11,597,7,594,9,600,6,614,4,...,595,8,649,1,627,2,625,3,600.041744,8
6,643,9,652,7,647,8,676,4,666,6,...,640,10,699,2,669,5,702,1,657.914829,10
7,620,8,616,9,612,11,643,5,666,3,...,637,7,688,1,664,4,681,2,635.005191,10
8,598,10,630,4,608,9,627,5,625,7,...,615,8,676,1,652,3,653,2,618.585257,9
9,607,8,627,4,620,5,633,3,597,10,...,605,9,657,1,652,2,611,6,615.94564,9
10,620,9,633,6,611,10,647,4,644,5,...,628,7,679,1,667,2,659,3,630.678961,11
11,486,10,493,8,511,5,474,11,521,3,...,501,7,550,1,511,5,523,2,500.830055,8
12,519,11,587,8,585,9,579,10,620,4,...,588,7,647,1,633,2,596,6,592.155581,9
13,556,11,580,7,590,6,571,10,604,4,...,578,8,633,1,615,2,608,3,586.667667,8

In [15]:
def teb_split_rows(df_list):
    merged_pairs = [pd.merge(df_list[i], df_list[i+1], how="inner", on=["Dimension", "Measure"]) for i in range(0, len(df_list), 2)]
    merged_pairs = pd.concat(merged_pairs, axis=0)
    return merged_pairs

def transform_electric_business(df, df2, df3):
    rows = []
    for col in df3:
        temp_df = pd.DataFrame({
            "Dimension": df[2:],
            "Measure": df2[2:], 
        })
        # print(df3[col])
        if df3[col].iloc[1] == "Rank":
            temp_df["Rank"] = df3[col].iloc[1:]
        else:
            temp_df["Brand"] = df3[col].iloc[1]
            temp_df["Score"] = df3[col].iloc[1:]
        rows.append(temp_df)
    return rows

In [16]:
n_rows = transform_electric_business(dimension, measure, others)
teb_df = teb_split_rows(n_rows)

In [17]:
n_rows

[                              Dimension Measure              Brand Score
 5   Overall Customer Satisfaction Index    Mean  Appalachian Power   576
 6                Safety and reliability    Mean  Appalachian Power   643
 7                    Problem resolution    Mean  Appalachian Power   620
 8                                  Ease    Mean  Appalachian Power   598
 9                      Digital Channels    Mean  Appalachian Power   607
 10                               People    Mean  Appalachian Power   620
 11                                 Cost    Mean  Appalachian Power   486
 12                                Trust    Mean  Appalachian Power   519
 13                 Information provided    Mean  Appalachian Power   556,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean   11
 6                Safety and reliability    Mean    9
 7                    Problem resolution    Mean    8
 8                                  Ease    Mean   10
 9                      Digital Channels    Mean    8
 10                               People    Mean    9
 11                                 Cost    Mean   10
 12                                Trust    Mean   11
 13                 Information provided    Mean   11,
                               Dimension Measure Brand Score
 5   Overall Customer Satisfaction Index    Mean   BGE   597
 6                Safety and reliability    Mean   BGE   652
 7                    Problem resolution    Mean   BGE   616
 8                                  Ease    Mean   BGE   630
 9                      Digital Channels    Mean   BGE   627
 10                               People    Mean   BGE   633
 11                                 Cost    Mean   BGE   493
 12                                Trust    Mean   BGE   587
 13                 Information provided    Mean   BGE   580,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    7
 6                Safety and reliability    Mean    7
 7                    Problem resolution    Mean    9
 8                                  Ease    Mean    4
 9                      Digital Channels    Mean    4
 10                               People    Mean    6
 11                                 Cost    Mean    8
 12                                Trust    Mean    8
 13                 Information provided    Mean    7,
                               Dimension Measure       Brand Score
 5   Overall Customer Satisfaction Index    Mean  Con Edison   594
 6                Safety and reliability    Mean  Con Edison   647
 7                    Problem resolution    Mean  Con Edison   612
 8                                  Ease    Mean  Con Edison   608
 9                      Digital Channels    Mean  Con Edison   620
 10                               People    Mean  Con Edison   611
 11                                 Cost    Mean  Con Edison   511
 12                                Trust    Mean  Con Edison   585
 13                 Information provided    Mean  Con Edison   590,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    9
 6                Safety and reliability    Mean    8
 7                    Problem resolution    Mean   11
 8                                  Ease    Mean    9
 9                      Digital Channels    Mean    5
 10                               People    Mean   10
 11                                 Cost    Mean    5
 12                                Trust    Mean    9
 13                 Information provided    Mean    6,
                               Dimension Measure       Brand Score
 5   Overall Customer Satisfaction Index    Mean  Eversource   600
 6                Safety and reliability    Mean  Eversource   676
 7                    Problem resolution    Mean  Eversource   643
 8                                  Ease    Mean  Eversource   627
 9                      Digital Channels    Mean  Eversource   633
 10                               People    Mean  Eversource   647
 11                                 Cost    Mean  Eversource   474
 12                                Trust    Mean  Eversource   579
 13                 Information provided    Mean  Eversource   571,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    6
 6                Safety and reliability    Mean    4
 7                    Problem resolution    Mean    5
 8                                  Ease    Mean    5
 9                      Digital Channels    Mean    3
 10                               People    Mean    4
 11                                 Cost    Mean   11
 12                                Trust    Mean   10
 13                 Information provided    Mean   10,
                               Dimension Measure                         Brand  \
 5   Overall Customer Satisfaction Index    Mean  Jersey Central Power & Light
 6                Safety and reliability    Mean  Jersey Central Power & Light
 7                    Problem resolution    Mean  Jersey Central Power & Light
 8                                  Ease    Mean  Jersey Central Power & Light
 9                      Digital Channels    Mean  Jersey Central Power & Light
 10                               People    Mean  Jersey Central Power & Light
 11                                 Cost    Mean  Jersey Central Power & Light
 12                                Trust    Mean  Jersey Central Power & Light
 13                 Information provided    Mean  Jersey Central Power & Light

    Score
 5    614
 6    666
 7    666
 8    625
 9    597
 10   644
 11   521
 12   620
 13   604  ,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    4
 6                Safety and reliability    Mean    6
 7                    Problem resolution    Mean    3
 8                                  Ease    Mean    7
 9                      Digital Channels    Mean   10
 10                               People    Mean    5
 11                                 Cost    Mean    3
 12                                Trust    Mean    4
 13                 Information provided    Mean    4,
                               Dimension Measure          Brand Score
 5   Overall Customer Satisfaction Index    Mean  National Grid   588
 6                Safety and reliability    Mean  National Grid   635
 7                    Problem resolution    Mean  National Grid   616
 8                                  Ease    Mean  National Grid   596
 9                      Digital Channels    Mean  National Grid   608
 10                               People    Mean  National Grid   623
 11                                 Cost    Mean  National Grid   488
 12                                Trust    Mean  National Grid   599
 13                 Information provided    Mean  National Grid   574,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean   10
 6                Safety and reliability    Mean   11
 7                    Problem resolution    Mean    9
 8                                  Ease    Mean   11
 9                      Digital Channels    Mean    7
 10                               People    Mean    8
 11                                 Cost    Mean    9
 12                                Trust    Mean    5
 13                 Information provided    Mean    9,
                               Dimension Measure  Brand Score
 5   Overall Customer Satisfaction Index    Mean  NYSEG   510
 6                Safety and reliability    Mean  NYSEG   575
 7                    Problem resolution    Mean  NYSEG   567
 8                                  Ease    Mean  NYSEG   498
 9                      Digital Channels    Mean  NYSEG   513
 10                               People    Mean  NYSEG   539
 11                                 Cost    Mean  NYSEG   412
 12                                Trust    Mean  NYSEG   501
 13                 Information provided    Mean  NYSEG   515,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean   12
 6                Safety and reliability    Mean   12
 7                    Problem resolution    Mean   12
 8                                  Ease    Mean   12
 9                      Digital Channels    Mean   12
 10                               People    Mean   12
 11                                 Cost    Mean   12
 12                                Trust    Mean   12
 13                 Information provided    Mean   12,
                               Dimension Measure Brand Score
 5   Overall Customer Satisfaction Index    Mean  PECO   605
 6                Safety and reliability    Mean  PECO   677
 7                    Problem resolution    Mean  PECO   638
 8                                  Ease    Mean  PECO   627
 9                      Digital Channels    Mean  PECO   577
 10                               People    Mean  PECO   607
 11                                 Cost    Mean  PECO   512
 12                                Trust    Mean  PECO   625
 13                 Information provided    Mean  PECO   601,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    5
 6                Safety and reliability    Mean    3
 7                    Problem resolution    Mean    6
 8                                  Ease    Mean    5
 9                      Digital Channels    Mean   11
 10                               People    Mean   11
 11                                 Cost    Mean    4
 12                                Trust    Mean    3
 13                 Information provided    Mean    5,
                               Dimension Measure                   Brand Score
 5   Overall Customer Satisfaction Index    Mean  PPL Electric Utilities   595
 6                Safety and reliability    Mean  PPL Electric Utilities   640
 7                    Problem resolution    Mean  PPL Electric Utilities   637
 8                                  Ease    Mean  PPL Electric Utilities   615
 9                      Digital Channels    Mean  PPL Electric Utilities   605
 10                               People    Mean  PPL Electric Utilities   628
 11                                 Cost    Mean  PPL Electric Utilities   501
 12                                Trust    Mean  PPL Electric Utilities   588
 13                 Information provided    Mean  PPL Electric Utilities   578,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    8
 6                Safety and reliability    Mean   10
 7                    Problem resolution    Mean    7
 8                                  Ease    Mean    8
 9                      Digital Channels    Mean    9
 10                               People    Mean    7
 11                                 Cost    Mean    7
 12                                Trust    Mean    7
 13                 Information provided    Mean    8,
                               Dimension Measure  Brand Score
 5   Overall Customer Satisfaction Index    Mean  PSE&G   649
 6                Safety and reliability    Mean  PSE&G   699
 7                    Problem resolution    Mean  PSE&G   688
 8                                  Ease    Mean  PSE&G   676
 9                      Digital Channels    Mean  PSE&G   657
 10                               People    Mean  PSE&G   679
 11                                 Cost    Mean  PSE&G   550
 12                                Trust    Mean  PSE&G   647
 13                 Information provided    Mean  PSE&G   633,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    1
 6                Safety and reliability    Mean    2
 7                    Problem resolution    Mean    1
 8                                  Ease    Mean    1
 9                      Digital Channels    Mean    1
 10                               People    Mean    1
 11                                 Cost    Mean    1
 12                                Trust    Mean    1
 13                 Information provided    Mean    1,
                               Dimension Measure             Brand Score
 5   Overall Customer Satisfaction Index    Mean  PSEG Long Island   627
 6                Safety and reliability    Mean  PSEG Long Island   669
 7                    Problem resolution    Mean  PSEG Long Island   664
 8                                  Ease    Mean  PSEG Long Island   652
 9                      Digital Channels    Mean  PSEG Long Island   652
 10                               People    Mean  PSEG Long Island   667
 11                                 Cost    Mean  PSEG Long Island   511
 12                                Trust    Mean  PSEG Long Island   633
 13                 Information provided    Mean  PSEG Long Island   615,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    2
 6                Safety and reliability    Mean    5
 7                    Problem resolution    Mean    4
 8                                  Ease    Mean    3
 9                      Digital Channels    Mean    2
 10                               People    Mean    2
 11                                 Cost    Mean    5
 12                                Trust    Mean    2
 13                 Information provided    Mean    2,
                               Dimension Measure            Brand Score
 5   Overall Customer Satisfaction Index    Mean  West Penn Power   625
 6                Safety and reliability    Mean  West Penn Power   702
 7                    Problem resolution    Mean  West Penn Power   681
 8                                  Ease    Mean  West Penn Power   653
 9                      Digital Channels    Mean  West Penn Power   611
 10                               People    Mean  West Penn Power   659
 11                                 Cost    Mean  West Penn Power   523
 12                                Trust    Mean  West Penn Power   596
 13                 Information provided    Mean  West Penn Power   608,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    3
 6                Safety and reliability    Mean    1
 7                    Problem resolution    Mean    2
 8                                  Ease    Mean    2
 9                      Digital Channels    Mean    6
 10                               People    Mean    3
 11                                 Cost    Mean    2
 12                                Trust    Mean    6
 13                 Information provided    Mean    3,
                               Dimension Measure       Brand       Score
 5   Overall Customer Satisfaction Index    Mean  East Large  600.041744
 6                Safety and reliability    Mean  East Large  657.914829
 7                    Problem resolution    Mean  East Large  635.005191
 8                                  Ease    Mean  East Large  618.585257
 9                      Digital Channels    Mean  East Large   615.94564
 10                               People    Mean  East Large  630.678961
 11                                 Cost    Mean  East Large  500.830055
 12                                Trust    Mean  East Large  592.155581
 13                 Information provided    Mean  East Large  586.667667,
                               Dimension Measure Rank
 5   Overall Customer Satisfaction Index    Mean    8
 6                Safety and reliability    Mean   10
 7                    Problem resolution    Mean   10
 8                                  Ease    Mean    9
 9                      Digital Channels    Mean    9
 10                               People    Mean   11
 11                                 Cost    Mean    8
 12                                Trust    Mean    9
 13                 Information provided    Mean    8]

In [18]:
e_large = teb_df[teb_df["Brand"] == "East Large"]

In [19]:
e_large

                             Dimension Measure       Brand       Score Rank
0  Overall Customer Satisfaction Index    Mean  East Large  600.041744    8
1               Safety and reliability    Mean  East Large  657.914829   10
2                   Problem resolution    Mean  East Large  635.005191   10
3                                 Ease    Mean  East Large  618.585257    9
4                     Digital Channels    Mean  East Large   615.94564    9
5                               People    Mean  East Large  630.678961   11
6                                 Cost    Mean  East Large  500.830055    8
7                                Trust    Mean  East Large  592.155581    9
8                 Information provided    Mean  East Large  586.667667    8

In [20]:
e_large["Score"]

0    600.041744
1    657.914829
2    635.005191
3    618.585257
4     615.94564
5    630.678961
6    500.830055
7    592.155581
8    586.667667
Name: Score, dtype: object

In [21]:
e_large["Score"] = np.where(e_large["Score"] % 1 >= 0.5, np.ceil(e_large["Score"]), np.floor(e_large["Score"]))

In [22]:
e_large

                             Dimension Measure       Brand Score Rank
0  Overall Customer Satisfaction Index    Mean  East Large   600    8
1               Safety and reliability    Mean  East Large   658   10
2                   Problem resolution    Mean  East Large   635   10
3                                 Ease    Mean  East Large   619    9
4                     Digital Channels    Mean  East Large   616    9
5                               People    Mean  East Large   631   11
6                                 Cost    Mean  East Large   501    8
7                                Trust    Mean  East Large   592    9
8                 Information provided    Mean  East Large   587    8

In [23]:
teb_df.loc[teb_df["Brand"] == "East Large"] = e_large

In [24]:
teb_df.loc[teb_df["Brand"] == "East Large"]

                             Dimension Measure       Brand Score Rank
0  Overall Customer Satisfaction Index    Mean  East Large   600    8
1               Safety and reliability    Mean  East Large   658   10
2                   Problem resolution    Mean  East Large   635   10
3                                 Ease    Mean  East Large   619    9
4                     Digital Channels    Mean  East Large   616    9
5                               People    Mean  East Large   631   11
6                                 Cost    Mean  East Large   501    8
7                                Trust    Mean  East Large   592    9
8                 Information provided    Mean  East Large   587    8

# Transform Firmographics

In [25]:
output["PSEG Firmographics"]

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,PSEG Firmographics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Filter: Brand Name Deliverable (PSE&G), Named ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Overall Customer Satisfaction Index,Safety and reliability,Problem resolution,Ease,Digital Channels,People,Cost,Trust,Information provided
3,NaN,NaN,Mean,Mean,Mean,Mean,Mean,Mean,Mean,Mean,Mean
4,Typical contact at utility for business needs,Key account representative assigned to business,711.341967,783.330167,733.91712,707.801621,718.330588,753.022534,632.440815,700.344981,686.393847
5,NaN,Assigned account representative at utility bus...,705.268336,749.062079,763.117587,732.016392,713.140311,741.251327,600.057329,719.036188,659.532426
6,NaN,Utility business services center and speak wit...,648.688191,697.167825,697.124732,694.062936,656.74171,656.896557,556.418059,635.656823,631.9193
7,NaN,Utility general telephone number,622.833436,675.190956,650.035649,641.639021,628.266682,659.487013,510.237801,628.140628,630.724348
8,Number of full-time employees at business,250-999 employees,725.23932,747.509061,714.953983,751.940082,718.760572,753.648225,694.411693,729.538536,695.385359
9,NaN,<50,586.959011,645.774043,623.451425,617.89574,616.187229,604.575574,458.291725,592.46365,585.970548
10,NaN,50-249,686.141393,732.796503,725.30907,713.30583,684.47361,726.857089,589.341312,682.368753,670.0575
11,NaN,1000+,674.356055,732.427968,752.443468,702.161865,661.755794,709.790786,577.702331,648.919068,648.919068
12,Same gas provider,Yes,679.679488,728.087938,721.772101,704.943532,681.170783,713.176825,582.705822,679.053319,661.27087
13,NaN,Not combo,523.458938,578.84497,547.254413,558.012458,555.828555,540.938228,415.461643,516.912971,516.93947
14,Occupational title within business,CEO/President/Owner/GM/Partner,654.439921,704.656146,689.538425,688.34455,655.20156,678.644469,566.959203,639.814832,646.189623
15,NaN,Director/Asst. Director/Department Head,683.662915,741.234496,703.169559,694.433906,707.778586,722.922984,609.861437,676.884659,636.620219
16,NaN,Manager/Asst. Manager,659.233698,691.470214,712.622163,701.981326,648.160138,693.836904,534.343164,673.289982,665.14556
17,NaN,Vice President/Asst. Vice President,23.16,0,0,0,0,200,0,0,0
18,Gender,Female,627.442947,685.383321,663.523848,660.285195,641.665327,665.544877,502.074299,633.306098,612.639961
19,NaN,Male,666.845174,712.56925,707.11741,692.355997,670.212202,690.102893,583.965241,658.52685,651.173462
20,Type of business facility,Manufacturing facility,692.869072,724.393096,744.195925,753.376457,734.29451,686.950085,600.720883,667.147255,677.769553
21,NaN,Office,617.356327,688.892079,677.379878,664.464315,626.912695,628.63602,507.142142,589.36564,600.912481
22,NaN,Retail store,696.44322,740.613777,772.63848,693.742518,727.637108,754.294537,587.485036,681.227554,662.883611
23,NaN,Warehouse or distribution facility,705.009574,736.499659,772.245052,736.994398,672.681082,757.380295,603.286669,731.276828,658.595746
24,Line of business (NAICS code),Construction,697.246529,740.415632,738.097305,726.549554,725.319007,698.155412,616.280457,674.727707,696.449733
25,NaN,Finance and insurance,665.944856,781.856635,716.585182,623.22418,689.120544,719.025345,570.751484,634.529821,624.917785
26,NaN,Health care and social assistance,569.233893,624.054261,590.500179,598.549421,590.790843,601.035336,472.214218,545.879015,572.448976
27,NaN,Information,725.376859,725.728998,748.542005,800,782.249069,826.700994,577.186993,676.214996,750.485998
28,NaN,Manufacturing,750.379962,786.872772,787.763652,810.454588,754.618127,775.527304,636.709045,752.836367,741.490899
29,NaN,Other services,587.972233,619.743211,642.647431,634.118644,572.955825,622.229976,475.152425,621.356861,548.691201
30,NaN,"Professional, scientific, and technical services",545.106184,583.445934,605.101341,605.101341,513.378374,603.400894,450.112601,471.768008,583.445934
31,NaN,Retail trade,617.172862,685.292422,675.223831,652.714802,636.217581,651.924186,507.010835,593.093872,579.862818
32,NaN,Transportation and warehousing,613.77516,662.331154,669.542482,652.432824,613.276925,672.939229,478.888889,625.544661,582.770515
33,NaN,Educational services,559.109237,645.878597,600.254398,518.294866,560.822776,478.863244,439.431622,645.878597,606.446975

In [26]:
firm_col_1 = output["PSEG Firmographics"]["Table of Contents"]
firm_col_1

0                                    PSEG Firmographics
1     Filter: Brand Name Deliverable (PSE&G), Named ...
2                                                   NaN
3                                                   NaN
4         Typical contact at utility for business needs
5                                                   NaN
6                                                   NaN
7                                                   NaN
8             Number of full-time employees at business
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                    Same gas provider
13                                                  NaN
14                   Occupational title within business
15                                                  NaN
16                                                  NaN
17                                                  NaN
18                                               Gender
19                                                  NaN
20                            Type of business facility
21                                                  NaN
22                                                  NaN
23                                                  NaN
24                        Line of business (NAICS code)
25                                                  NaN
26                                                  NaN
27                                                  NaN
28                                                  NaN
29                                                  NaN
30                                                  NaN
31                                                  NaN
32                                                  NaN
33                                                  NaN
Name: Table of Contents, dtype: object

In [27]:
firm_col_2 = output["PSEG Firmographics"]["Unnamed: 1"]
firm_col_2

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4       Key account representative assigned to business
5     Assigned account representative at utility bus...
6     Utility business services center and speak wit...
7                      Utility general telephone number
8                                     250-999 employees
9                                                   <50
10                                               50-249
11                                                1000+
12                                                  Yes
13                                            Not combo
14                       CEO/President/Owner/GM/Partner
15              Director/Asst. Director/Department Head
16                                Manager/Asst. Manager
17                  Vice President/Asst. Vice President
18                                               Female
19                                                 Male
20                               Manufacturing facility
21                                               Office
22                                         Retail store
23                   Warehouse or distribution facility
24                                         Construction
25                                Finance and insurance
26                    Health care and social assistance
27                                          Information
28                                        Manufacturing
29                                       Other services
30     Professional, scientific, and technical services
31                                         Retail trade
32                       Transportation and warehousing
33                                 Educational services
Name: Unnamed: 1, dtype: object

In [28]:
firm_mean = output["PSEG Firmographics"].loc[:, "Unnamed: 2":"Unnamed: 10"]

In [29]:
firm_mean.shape

(34, 9)

In [30]:
firm_mean

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Overall Customer Satisfaction Index,Safety and reliability,Problem resolution,Ease,Digital Channels,People,Cost,Trust,Information provided
3,Mean,Mean,Mean,Mean,Mean,Mean,Mean,Mean,Mean
4,711.341967,783.330167,733.91712,707.801621,718.330588,753.022534,632.440815,700.344981,686.393847
5,705.268336,749.062079,763.117587,732.016392,713.140311,741.251327,600.057329,719.036188,659.532426
6,648.688191,697.167825,697.124732,694.062936,656.74171,656.896557,556.418059,635.656823,631.9193
7,622.833436,675.190956,650.035649,641.639021,628.266682,659.487013,510.237801,628.140628,630.724348
8,725.23932,747.509061,714.953983,751.940082,718.760572,753.648225,694.411693,729.538536,695.385359
9,586.959011,645.774043,623.451425,617.89574,616.187229,604.575574,458.291725,592.46365,585.970548
10,686.141393,732.796503,725.30907,713.30583,684.47361,726.857089,589.341312,682.368753,670.0575
11,674.356055,732.427968,752.443468,702.161865,661.755794,709.790786,577.702331,648.919068,648.919068
12,679.679488,728.087938,721.772101,704.943532,681.170783,713.176825,582.705822,679.053319,661.27087
13,523.458938,578.84497,547.254413,558.012458,555.828555,540.938228,415.461643,516.912971,516.93947
14,654.439921,704.656146,689.538425,688.34455,655.20156,678.644469,566.959203,639.814832,646.189623
15,683.662915,741.234496,703.169559,694.433906,707.778586,722.922984,609.861437,676.884659,636.620219
16,659.233698,691.470214,712.622163,701.981326,648.160138,693.836904,534.343164,673.289982,665.14556
17,23.16,0,0,0,0,200,0,0,0
18,627.442947,685.383321,663.523848,660.285195,641.665327,665.544877,502.074299,633.306098,612.639961
19,666.845174,712.56925,707.11741,692.355997,670.212202,690.102893,583.965241,658.52685,651.173462
20,692.869072,724.393096,744.195925,753.376457,734.29451,686.950085,600.720883,667.147255,677.769553
21,617.356327,688.892079,677.379878,664.464315,626.912695,628.63602,507.142142,589.36564,600.912481
22,696.44322,740.613777,772.63848,693.742518,727.637108,754.294537,587.485036,681.227554,662.883611
23,705.009574,736.499659,772.245052,736.994398,672.681082,757.380295,603.286669,731.276828,658.595746
24,697.246529,740.415632,738.097305,726.549554,725.319007,698.155412,616.280457,674.727707,696.449733
25,665.944856,781.856635,716.585182,623.22418,689.120544,719.025345,570.751484,634.529821,624.917785
26,569.233893,624.054261,590.500179,598.549421,590.790843,601.035336,472.214218,545.879015,572.448976
27,725.376859,725.728998,748.542005,800,782.249069,826.700994,577.186993,676.214996,750.485998
28,750.379962,786.872772,787.763652,810.454588,754.618127,775.527304,636.709045,752.836367,741.490899
29,587.972233,619.743211,642.647431,634.118644,572.955825,622.229976,475.152425,621.356861,548.691201
30,545.106184,583.445934,605.101341,605.101341,513.378374,603.400894,450.112601,471.768008,583.445934
31,617.172862,685.292422,675.223831,652.714802,636.217581,651.924186,507.010835,593.093872,579.862818
32,613.77516,662.331154,669.542482,652.432824,613.276925,672.939229,478.888889,625.544661,582.770515
33,559.109237,645.878597,600.254398,518.294866,560.822776,478.863244,439.431622,645.878597,606.446975

In [31]:
firm_col_1.head()

0                                   PSEG Firmographics
1    Filter: Brand Name Deliverable (PSE&G), Named ...
2                                                  NaN
3                                                  NaN
4        Typical contact at utility for business needs
Name: Table of Contents, dtype: object

In [32]:
def transform_firmographics(df1, df2, df3):
    rows = []
    for col in df3.columns:
        label = df3[col].iloc[3]
        label_2 = df3[col].iloc[2]
        temp_df = pd.DataFrame({
            "Question": df1[4:].ffill(),
            "Segment": df2[4:],
            "Metric": label,
            "Value": df3[4:][col],
            "Dimension": label_2
        })
        rows.append(temp_df)
    new_df = pd.concat(rows, ignore_index=True)
    return new_df
transform_firmographics(firm_col_1, firm_col_2, firm_mean)

,Question,Segment,Metric,Value,Dimension
0,Typical contact at utility for business needs,Key account representative assigned to business,Mean,711.341967,Overall Customer Satisfaction Index
1,Typical contact at utility for business needs,Assigned account representative at utility bus...,Mean,705.268336,Overall Customer Satisfaction Index
2,Typical contact at utility for business needs,Utility business services center and speak wit...,Mean,648.688191,Overall Customer Satisfaction Index
3,Typical contact at utility for business needs,Utility general telephone number,Mean,622.833436,Overall Customer Satisfaction Index
4,Number of full-time employees at business,250-999 employees,Mean,725.23932,Overall Customer Satisfaction Index
...,...,...,...,...,...
265,Line of business (NAICS code),Other services,Mean,548.691201,Information provided
266,Line of business (NAICS code),"Professional, scientific, and technical services",Mean,583.445934,Information provided
267,Line of business (NAICS code),Retail trade,Mean,579.862818,Information provided
268,Line of business (NAICS code),Transportation and warehousing,Mean,582.770515,Information provided
269,Line of business (NAICS code),Educational services,Mean,606.446975,Information provided

# Transform Overall Sat KPI by Brand Sheets

In [33]:
sat_kpi_1 = output["Overall Sat KPI by Brand 1 (2)"]

In [34]:
sat_kpi_1

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Overall Sat KPI by Brand 1 (2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Filter: Region Size Segment (East Large), Year...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Brand Name Deliverable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Appalachian Power,NaN,BGE,NaN,Con Edison,NaN,Eversource,NaN,...,PECO,NaN,PPL Electric Utilities,NaN,PSE&G,NaN,PSEG Long Island,NaN,West Penn Power,NaN
4,NaN,NaN,%,Rank,%,Rank,%,Rank,%,Rank,...,%,Rank,%,Rank,%,Rank,%,Rank,%,Rank
5,Utility contacted customer after power restora...,Not Met,0.276539,3,0.357937,1,0.230617,7,0.193476,9,...,0.28192,3,0.246905,6,0.116725,11,0.121253,11,0.271753,5
6,NaN,Met,0.723461,9,0.642063,12,0.769383,6,0.806524,4,...,0.71808,9,0.753095,7,0.883275,1,0.878747,1,0.728247,8
7,Aware of utility efforts to improve impact on ...,Not Met,0.335077,7,0.266151,11,0.277679,10,0.35804,5,...,0.387155,3,0.406688,2,0.271612,11,0.342828,7,0.387005,3
8,NaN,Met,0.664923,4,0.733849,1,0.722321,3,0.64196,7,...,0.612845,9,0.593312,11,0.728388,1,0.657172,4,0.612995,9
9,Seen utility employees volunteering/working in...,Not Met,0.51809,5,0.477608,9,0.5151,5,0.565668,3,...,0.476021,9,0.584431,2,0.485307,8,0.457409,12,0.551181,4
10,NaN,Met,0.48191,6,0.522392,2,0.4849,6,0.434332,10,...,0.523979,2,0.415569,11,0.514693,5,0.542591,1,0.448819,9
11,Easy to do business with,Not Met,0.583797,5,0.569372,7,0.593186,3,0.577223,5,...,0.521316,11,0.555362,8,0.517433,11,0.541968,10,0.552967,9
12,NaN,Met,0.416203,7,0.430628,6,0.406814,9,0.422777,7,...,0.478684,1,0.444638,5,0.482567,1,0.458032,3,0.447033,4
13,Considered a valued business partner,Not Met,0.673538,3,0.643376,7,0.60406,10,0.624301,8,...,0.665476,3,0.614287,9,0.548749,11,0.665946,3,0.540769,12
14,NaN,Met,0.326462,8,0.356624,6,0.39594,3,0.375699,5,...,0.334524,8,0.385713,4,0.451251,2,0.334054,8,0.459231,1
15,Utility does good job maintaining current infr...,Not Met,0.146019,2,0.098067,7,0.090226,11,0.095145,7,...,0.111128,5,0.097967,7,0.093598,11,0.113662,5,0.09908,7
16,NaN,Met,0.853981,10,0.901933,3,0.909774,1,0.904855,3,...,0.888872,7,0.902033,3,0.906402,1,0.886338,7,0.90092,3
17,Understands my energy needs,Not Met,0.597193,7,0.568682,10,0.570398,10,0.620551,6,...,0.64369,3,0.579243,9,0.559563,12,0.647151,2,0.588462,8
18,NaN,Met,0.402807,6,0.431318,2,0.429602,2,0.379449,7,...,0.35631,8,0.420757,4,0.440437,1,0.352849,11,0.411538,5
19,Utility helped lower bill by showing how to co...,Not Met,0.595287,1,0.48239,4,0.376759,10,0.485793,3,...,0.420874,8,0.435978,7,0.345629,12,0.376392,10,0.453648,6
20,NaN,Met,0.404713,12,0.51761,9,0.623241,2,0.514207,10,...,0.579126,5,0.564022,6,0.654371,1,0.623608,2,0.546352,7
21,Work to attract new businesses to invest in th...,Not Met,0.42589,12,0.462008,10,0.506272,9,0.555166,3,...,0.527713,5,0.570333,2,0.449536,11,0.520677,8,0.527473,5
22,NaN,Met,0.57411,1,0.537992,3,0.493728,4,0.444834,10,...,0.472287,6,0.429667,11,0.550464,2,0.479323,5,0.472527,6
23,Number of brief interruptions (<= 5 Min) – 1 o...,Not Met,0.492375,3,0.406885,6,0.29772,11,0.309196,10,...,0.264692,12,0.412502,6,0.328249,9,0.350519,8,0.562168,2
24,NaN,Met,0.507625,10,0.593115,6,0.70228,2,0.690804,3,...,0.735308,1,0.587498,6,0.671751,4,0.649481,5,0.437832,11
25,Usage increase or decrease in last year,Not Met,0.261722,10,0.37078,2,0.281018,9,0.323719,4,...,0.286336,8,0.247081,12,0.29781,7,0.340351,3,0.256396,10
26,NaN,Met,0.738278,2,0.62922,11,0.718982,4,0.676281,8,...,0.713664,5,0.752919,1,0.70219,6,0.659649,10,0.743604,2
27,Difficulty finding outage information,Not Met,0.675203,4,0.514176,12,0.642105,6,0.541139,11,...,0.592777,9,0.590393,9,0.67461,5,0.620387,7,0.596823,8
28,NaN,Met,0.324797,9,0.485824,1,0.357895,7,0.458861,2,...,0.407223,3,0.409607,3,0.32539,8,0.379613,6,0.403177,5
29,Actively selected a rate plan from a set of op...,Not Met,0.611975,1,0.563126,3,0.476736,7,0.444697,12,...,0.507776,6,0.460927,10,0.457471,10,0.477409,7,0.610385,1
30,NaN,Met,0.388025,11,0.436874,10,0.523264,5,0.555303,1,...,0.492224,7,0.539073,2,0.542529,2,0.522591,5,0.389615,11
31,Business on budget billing plan,Not Met,0.810317,1,0.697266,2,0.538773,9,0.580045,6,...,0.671802,4,0.683147,3,0.467811,12,0.492384,11,0.602526,5
32,NaN,Met,0.189683,12,0.302734,11,0.461227,4,0.419955,6,...,0.328198,9,0.316853,10,0.532189,1,0.507616,2,0.397474,8
33,Chose bill due date,Not Met,0.784402,4,0.79928,2,0.76574,6,0.81884,1,...,0.785607,3,0.753567,8,0.699154,11,0.701695,11,0.76246,7
34,NaN,Met,0.215598,8,0.20072,11,0.23426,7,0.18116,12,...,0.214393,10,0.246433,5,0.300846,1,0.298305,1,0.23754,6
35,Receive summary bill for multiple locations,Not Met,0.372556,5,0.294105,10,0.317725,7,0.398187,3,...,0.381545,4,0.317825,7,0.283183,11,0.222073,12,0.314363,9
36,NaN,Met,0.627444,7,0.705895,3,0.682275,5,0.601813,10,...,0.618455,9,0.682175,5,0.716817,2,0.777927,1,0.685637,4
37,It required little effort to resolve my recent...,Not Met,0.696935,3,0.582361,12,0.617597,10,0.661011,8,...,0.693695,5,0.639254,9,0.697058,3,0.672176,7,0.589823,11
38,NaN,Met,0.303065,9,0.417639,1,0.382403,3,0.338989,5,...,0.306305,7,0.360746,4,0.302942,9,0.327824,6,0.410177,2
39,Create jobs directly and indirectly,Not Met,0.469599,7,0.419894,11,0.441698,9,0.476632,5,...,0.505959,2,0.487592,3,0.38592,12,0.478054,5,0.493901,3
40,NaN,Met,0.530401,6,0.580106,2,0.558302,4,0.523368,7,...,0.494041,11,0.512408,9,0.61408,1,0.521946,7,0.506099,9
41,Awareness of utility efforts to increase gener...,Not Met,0.358473,5,0.32391,7,0.305273,8,0.301505,9,...,0.366341,4,0.394313,2,0.226171,12,0.281473,11,0.387005,2
42,NaN,Met,0.641527,8,0.67609,6,0.694727,5,0.698495,3,...,0.633659,9,0.605687,10,0.773829,1,0.718527,2,0.612995,10
43,Aware of positive media news stories (positive...,Not Met,0.72755,1,0.66954,2,0.433508,8,0.484952,4,...,0.405973,9,0.339873,11,0.343098,11,0.353799,10,0.457418,7
44,NaN,Met,0.27245,12,0.33046,11,0.566492,5,0.515048,8,...,0.594027,4,0.660127,1,0.656902,1,0.646201,3,0.542582,6
45,Not aware of a rate increase,Not Met,0.6426,3,0.675578,1,0.499731,7,0.502944,7,...,0.443358,10,0.436385,10,0.460199,9,0.510011,6,0.374258,12
46,NaN,Met,0.3574,10,0.324422,11,0.500269,5,0.497056,5,...,0.556642,2,0.563615,2,0.539801,4,0.489989,7,0.625742,1
47,Inquired or researched alternative rate plans ...,Not Met,0.732341,3,0.653977,9,0.641081,10,0.726744,3,...,0.676385,8,0.689999,6,0.638693,10,0.624903,12,0.762775,2
48,NaN,Met,0.267659,9,0.346023,4,0.358919,2,0.273256,9,...,0.323615,5,0.310001,6,0.361307,2,0.375097,1,0.237225,11

In [35]:
sat_kpi_2 = output["Overall Sat KPI by Brand 2 (2)"]

In [36]:
sat_col_1 = sat_kpi_1["Table of Contents"]
sat_col_1_2 = sat_kpi_2["Table of Contents"]

In [37]:
sat_unnamed = sat_kpi_1.loc[:,"Unnamed: 2":"Unnamed: 25"]
sat_unnamed_2 = sat_kpi_2.loc[:,"Unnamed: 2":"Unnamed: 25"]

In [38]:
sat_unnamed

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Brand Name Deliverable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Appalachian Power,NaN,BGE,NaN,Con Edison,NaN,Eversource,NaN,Jersey Central Power & Light,NaN,...,PECO,NaN,PPL Electric Utilities,NaN,PSE&G,NaN,PSEG Long Island,NaN,West Penn Power,NaN
4,%,Rank,%,Rank,%,Rank,%,Rank,%,Rank,...,%,Rank,%,Rank,%,Rank,%,Rank,%,Rank
5,0.276539,3,0.357937,1,0.230617,7,0.193476,9,0.184167,10,...,0.28192,3,0.246905,6,0.116725,11,0.121253,11,0.271753,5
6,0.723461,9,0.642063,12,0.769383,6,0.806524,4,0.815833,3,...,0.71808,9,0.753095,7,0.883275,1,0.878747,1,0.728247,8
7,0.335077,7,0.266151,11,0.277679,10,0.35804,5,0.357361,5,...,0.387155,3,0.406688,2,0.271612,11,0.342828,7,0.387005,3
8,0.664923,4,0.733849,1,0.722321,3,0.64196,7,0.642639,7,...,0.612845,9,0.593312,11,0.728388,1,0.657172,4,0.612995,9
9,0.51809,5,0.477608,9,0.5151,5,0.565668,3,0.693241,1,...,0.476021,9,0.584431,2,0.485307,8,0.457409,12,0.551181,4
10,0.48191,6,0.522392,2,0.4849,6,0.434332,10,0.306759,12,...,0.523979,2,0.415569,11,0.514693,5,0.542591,1,0.448819,9
11,0.583797,5,0.569372,7,0.593186,3,0.577223,5,0.606852,2,...,0.521316,11,0.555362,8,0.517433,11,0.541968,10,0.552967,9
12,0.416203,7,0.430628,6,0.406814,9,0.422777,7,0.393148,11,...,0.478684,1,0.444638,5,0.482567,1,0.458032,3,0.447033,4
13,0.673538,3,0.643376,7,0.60406,10,0.624301,8,0.684815,2,...,0.665476,3,0.614287,9,0.548749,11,0.665946,3,0.540769,12
14,0.326462,8,0.356624,6,0.39594,3,0.375699,5,0.315185,11,...,0.334524,8,0.385713,4,0.451251,2,0.334054,8,0.459231,1
15,0.146019,2,0.098067,7,0.090226,11,0.095145,7,0.137288,4,...,0.111128,5,0.097967,7,0.093598,11,0.113662,5,0.09908,7
16,0.853981,10,0.901933,3,0.909774,1,0.904855,3,0.862712,9,...,0.888872,7,0.902033,3,0.906402,1,0.886338,7,0.90092,3
17,0.597193,7,0.568682,10,0.570398,10,0.620551,6,0.641296,3,...,0.64369,3,0.579243,9,0.559563,12,0.647151,2,0.588462,8
18,0.402807,6,0.431318,2,0.429602,2,0.379449,7,0.358704,8,...,0.35631,8,0.420757,4,0.440437,1,0.352849,11,0.411538,5
19,0.595287,1,0.48239,4,0.376759,10,0.485793,3,0.472769,5,...,0.420874,8,0.435978,7,0.345629,12,0.376392,10,0.453648,6
20,0.404713,12,0.51761,9,0.623241,2,0.514207,10,0.527231,8,...,0.579126,5,0.564022,6,0.654371,1,0.623608,2,0.546352,7
21,0.42589,12,0.462008,10,0.506272,9,0.555166,3,0.59912,1,...,0.527713,5,0.570333,2,0.449536,11,0.520677,8,0.527473,5
22,0.57411,1,0.537992,3,0.493728,4,0.444834,10,0.40088,12,...,0.472287,6,0.429667,11,0.550464,2,0.479323,5,0.472527,6
23,0.492375,3,0.406885,6,0.29772,11,0.309196,10,0.46943,4,...,0.264692,12,0.412502,6,0.328249,9,0.350519,8,0.562168,2
24,0.507625,10,0.593115,6,0.70228,2,0.690804,3,0.53057,9,...,0.735308,1,0.587498,6,0.671751,4,0.649481,5,0.437832,11
25,0.261722,10,0.37078,2,0.281018,9,0.323719,4,0.314979,6,...,0.286336,8,0.247081,12,0.29781,7,0.340351,3,0.256396,10
26,0.738278,2,0.62922,11,0.718982,4,0.676281,8,0.685021,7,...,0.713664,5,0.752919,1,0.70219,6,0.659649,10,0.743604,2
27,0.675203,4,0.514176,12,0.642105,6,0.541139,11,0.758454,2,...,0.592777,9,0.590393,9,0.67461,5,0.620387,7,0.596823,8
28,0.324797,9,0.485824,1,0.357895,7,0.458861,2,0.241546,11,...,0.407223,3,0.409607,3,0.32539,8,0.379613,6,0.403177,5
29,0.611975,1,0.563126,3,0.476736,7,0.444697,12,0.524907,4,...,0.507776,6,0.460927,10,0.457471,10,0.477409,7,0.610385,1
30,0.388025,11,0.436874,10,0.523264,5,0.555303,1,0.475093,8,...,0.492224,7,0.539073,2,0.542529,2,0.522591,5,0.389615,11
31,0.810317,1,0.697266,2,0.538773,9,0.580045,6,0.583559,6,...,0.671802,4,0.683147,3,0.467811,12,0.492384,11,0.602526,5
32,0.189683,12,0.302734,11,0.461227,4,0.419955,6,0.416441,6,...,0.328198,9,0.316853,10,0.532189,1,0.507616,2,0.397474,8
33,0.784402,4,0.79928,2,0.76574,6,0.81884,1,0.732472,9,...,0.785607,3,0.753567,8,0.699154,11,0.701695,11,0.76246,7
34,0.215598,8,0.20072,11,0.23426,7,0.18116,12,0.267528,4,...,0.214393,10,0.246433,5,0.300846,1,0.298305,1,0.23754,6
35,0.372556,5,0.294105,10,0.317725,7,0.398187,3,0.523617,1,...,0.381545,4,0.317825,7,0.283183,11,0.222073,12,0.314363,9
36,0.627444,7,0.705895,3,0.682275,5,0.601813,10,0.476383,12,...,0.618455,9,0.682175,5,0.716817,2,0.777927,1,0.685637,4
37,0.696935,3,0.582361,12,0.617597,10,0.661011,8,0.760622,2,...,0.693695,5,0.639254,9,0.697058,3,0.672176,7,0.589823,11
38,0.303065,9,0.417639,1,0.382403,3,0.338989,5,0.239378,11,...,0.306305,7,0.360746,4,0.302942,9,0.327824,6,0.410177,2
39,0.469599,7,0.419894,11,0.441698,9,0.476632,5,0.536389,1,...,0.505959,2,0.487592,3,0.38592,12,0.478054,5,0.493901,3
40,0.530401,6,0.580106,2,0.558302,4,0.523368,7,0.463611,12,...,0.494041,11,0.512408,9,0.61408,1,0.521946,7,0.506099,9
41,0.358473,5,0.32391,7,0.305273,8,0.301505,9,0.299167,9,...,0.366341,4,0.394313,2,0.226171,12,0.281473,11,0.387005,2
42,0.641527,8,0.67609,6,0.694727,5,0.698495,3,0.700833,3,...,0.633659,9,0.605687,10,0.773829,1,0.718527,2,0.612995,10
43,0.72755,1,0.66954,2,0.433508,8,0.484952,4,0.477421,4,...,0.405973,9,0.339873,11,0.343098,11,0.353799,10,0.457418,7
44,0.27245,12,0.33046,11,0.566492,5,0.515048,8,0.522579,8,...,0.594027,4,0.660127,1,0.656902,1,0.646201,3,0.542582,6
45,0.6426,3,0.675578,1,0.499731,7,0.502944,7,0.537176,4,...,0.443358,10,0.436385,10,0.460199,9,0.510011,6,0.374258,12
46,0.3574,10,0.324422,11,0.500269,5,0.497056,5,0.462824,9,...,0.556642,2,0.563615,2,0.539801,4,0.489989,7,0.625742,1
47,0.732341,3,0.653977,9,0.641081,10,0.726744,3,0.77963,1,...,0.676385,8,0.689999,6,0.638693,10,0.624903,12,0.762775,2
48,0.267659,9,0.346023,4,0.358919,2,0.273256,9,0.22037,12,...,0.323615,5,0.310001,6,0.361307,2,0.375097,1,0.237225,11

In [39]:
sat_unnamed_2

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Brand Name Deliverable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Appalachian Power,NaN,BGE,NaN,Con Edison,NaN,Eversource,NaN,Jersey Central Power & Light,NaN,...,PECO,NaN,PPL Electric Utilities,NaN,PSE&G,NaN,PSEG Long Island,NaN,West Penn Power,NaN
4,%,Rank,%,Rank,%,Rank,%,Rank,%,Rank,...,%,Rank,%,Rank,%,Rank,%,Rank,%,Rank
5,0.264888,11,0.356624,8,0.47416,1,0.426427,2,0.356435,8,...,0.424267,4,0.424288,4,0.428367,2,0.385075,6,0.267363,10
6,0.735112,2,0.643376,4,0.52584,12,0.573573,10,0.643565,4,...,0.575733,8,0.575712,8,0.571633,10,0.614925,7,0.732637,3
7,0.357087,5,0.313865,10,0.321873,9,0.405179,4,0.33588,7,...,0.431541,2,0.360518,5,0.259478,12,0.332495,8,0.4325,2
8,0.642913,7,0.686135,2,0.678127,4,0.594821,9,0.66412,6,...,0.568459,10,0.639482,7,0.740522,1,0.667505,5,0.5675,10
9,0.415782,11,0.505771,4,0.551242,2,0.467815,9,0.507362,4,...,0.629131,1,0.479698,6,0.475216,6,0.28109,12,0.481675,6
10,0.584218,2,0.494229,8,0.448758,11,0.532185,4,0.492638,8,...,0.370869,12,0.520302,5,0.524784,5,0.71891,1,0.518325,5
11,0.157248,12,0.234318,6,0.18622,9,0.220378,7,0.251495,4,...,0.255774,3,0.240852,5,0.179552,10,0.17051,11,0.290005,2
12,0.842752,1,0.765682,7,0.81378,4,0.779622,5,0.748505,9,...,0.744226,10,0.759148,8,0.820448,3,0.82949,2,0.709995,11
13,0.293514,10,0.366624,5,0.299546,9,0.330417,8,0.36338,6,...,0.429787,2,0.426043,2,0.240379,11,0.228871,12,0.399066,4
14,0.706486,3,0.633376,8,0.700454,4,0.669583,5,0.63662,7,...,0.570213,10,0.573957,10,0.759621,2,0.771129,1,0.600934,9
15,0.25,7,0.100052,12,0.285833,4,0.208117,10,0.30733,3,...,0.280662,5,0.239071,8,0.274567,6,0.318072,2,0.174187,11
16,0.75,6,0.899948,1,0.714167,9,0.791883,3,0.69267,10,...,0.719338,8,0.760929,4,0.725433,7,0.681928,11,0.825813,2
17,0.544671,2,0.302896,10,0.477006,3,0.45369,4,0.372822,7,...,0.283231,11,0.333645,9,0.428278,6,0.439927,5,0.277829,11
18,0.455329,11,0.697104,3,0.522994,10,0.54631,9,0.627178,6,...,0.716769,1,0.666355,4,0.571722,7,0.560073,8,0.722171,1
19,0.361129,10,0.4006,4,0.364427,10,0.394438,5,0.4249,2,...,0.384464,8,0.37481,9,0.357523,10,0.38863,5,0.505356,1
20,0.638871,1,0.5994,9,0.635573,1,0.605562,6,0.5751,10,...,0.615536,5,0.62519,4,0.642477,1,0.61137,6,0.494644,12
21,0.247659,7,0.180768,12,0.258058,5,0.214727,10,0.286898,1,...,0.223026,9,0.255169,5,0.209066,10,0.290183,1,0.246401,7
22,0.752341,5,0.819232,1,0.741942,7,0.785273,2,0.713102,11,...,0.776974,4,0.744831,7,0.790934,2,0.709817,11,0.753599,5

In [40]:
sat_ques = sat_kpi_1["Table of Contents"]
sat_ques_2 = sat_kpi_2["Table of Contents"]

In [41]:
sat_ques

0                        Overall Sat KPI by Brand 1 (2)
1     Filter: Region Size Segment (East Large), Year...
2                                                   NaN
3                                                   NaN
4                                                   NaN
5     Utility contacted customer after power restora...
6                                                   NaN
7     Aware of utility efforts to improve impact on ...
8                                                   NaN
9     Seen utility employees volunteering/working in...
10                                                  NaN
11                             Easy to do business with
12                                                  NaN
13                 Considered a valued business partner
14                                                  NaN
15    Utility does good job maintaining current infr...
16                                                  NaN
17                          Understands my energy needs
18                                                  NaN
19    Utility helped lower bill by showing how to co...
20                                                  NaN
21    Work to attract new businesses to invest in th...
22                                                  NaN
23    Number of brief interruptions (<= 5 Min) – 1 o...
24                                                  NaN
25              Usage increase or decrease in last year
26                                                  NaN
27                Difficulty finding outage information
28                                                  NaN
29    Actively selected a rate plan from a set of op...
30                                                  NaN
31                      Business on budget billing plan
32                                                  NaN
33                                  Chose bill due date
34                                                  NaN
35          Receive summary bill for multiple locations
36                                                  NaN
37    It required little effort to resolve my recent...
38                                                  NaN
39                  Create jobs directly and indirectly
40                                                  NaN
41    Awareness of utility efforts to increase gener...
42                                                  NaN
43    Aware of positive media news stories (positive...
44                                                  NaN
45                         Not aware of a rate increase
46                                                  NaN
47    Inquired or researched alternative rate plans ...
48                                                  NaN
Name: Table of Contents, dtype: object

In [42]:
sat_ques_2

0                        Overall Sat KPI by Brand 2 (2)
1     Filter: Region Size Segment (East Large), Year...
2                                                   NaN
3                                                   NaN
4                                                   NaN
5     Number of lengthy outages of more than 5 minut...
6                                                   NaN
7     Aware of utility efforts to increase alternati...
8                                                   NaN
9                 Noticed vegetation management efforts
10                                                  NaN
11            Have business specific content on website
12                                                  NaN
13    Awareness of utility efforts to prepare for na...
14                                                  NaN
15    One phone call to answer question/resolve problem
16                                                  NaN
17               Representative did not put you on hold
18                                                  NaN
19                 Received status updates about outage
20                                                  NaN
21           Online account set up on utility's website
22                                                  NaN
Name: Table of Contents, dtype: object

In [43]:
sat_met = sat_kpi_1["Unnamed: 1"]
sat_met_2 = sat_kpi_2["Unnamed: 1"]

In [44]:
def merge_transform_sat_kpi(df_list):
    df1 = []
    df2 = []
    merged_list = []
    for i in range(len(df_list)):
        if i % 2 == 0:
            df1.append(df_list[i])
        else:
            df2.append(df_list[i])
    
    for d1, d2 in zip(df1,df2):
        merged = pd.merge(d1, d2, on=["Question", "Met"], how='inner')
        merged_list.append(merged)
    new_df = pd.concat(merged_list, axis=0, ignore_index=True)
    new_df = new_df.rename(columns={"Brand Name_x": "Brand Name"})
    del new_df["Brand Name_y"]
    return new_df
    
        
def transform_sat_kpi(df, df1, df2):
    rows = []
    f_col = df1.iloc[5:].ffill()
    s_col = df2.iloc[5:]
    
    for col in df:
        label = df[col][3]
        temp_df = pd.DataFrame({
            "Question": f_col,
            "Met": s_col,
            "Brand Name": label
        })
        if df[col][4] == "Rank":
            temp_df["Rank"] = df[col][5:]
        else:
            temp_df["%"] = df[col][5:]

        rows.append(temp_df)
    return merge_transform_sat_kpi(rows)

In [45]:
transform_sat_kpi(sat_unnamed, sat_ques, sat_met).head()

,Question,Met,Brand Name,%,Rank
0,Utility contacted customer after power restora...,Not Met,Appalachian Power,0.276539,3
1,Utility contacted customer after power restora...,Met,Appalachian Power,0.723461,9
2,Aware of utility efforts to improve impact on ...,Not Met,Appalachian Power,0.335077,7
3,Aware of utility efforts to improve impact on ...,Met,Appalachian Power,0.664923,4
4,Seen utility employees volunteering/working in...,Not Met,Appalachian Power,0.51809,5

In [46]:
transform_sat_kpi(sat_unnamed_2, sat_ques_2, sat_met_2).head()

,Question,Met,Brand Name,%,Rank
0,Number of lengthy outages of more than 5 minut...,NaN,Appalachian Power,0.264888,11
1,Number of lengthy outages of more than 5 minut...,Not Met - had outages,Appalachian Power,0.735112,2
2,Aware of utility efforts to increase alternati...,Not Aware,Appalachian Power,0.357087,5
3,Aware of utility efforts to increase alternati...,Aware,Appalachian Power,0.642913,7
4,Noticed vegetation management efforts,Not Met,Appalachian Power,0.415782,11

In [47]:
sat_1 = transform_sat_kpi(sat_unnamed, sat_ques, sat_met)

In [48]:
sat_2 = transform_sat_kpi(sat_unnamed_2, sat_ques_2, sat_met_2)

In [49]:
stacked_overall_sat = pd.concat([sat_1, sat_2], ignore_index=True)

In [50]:
stacked_overall_sat

,Question,Met,Brand Name,%,Rank
0,Utility contacted customer after power restora...,Not Met,Appalachian Power,0.276539,3
1,Utility contacted customer after power restora...,Met,Appalachian Power,0.723461,9
2,Aware of utility efforts to improve impact on ...,Not Met,Appalachian Power,0.335077,7
3,Aware of utility efforts to improve impact on ...,Met,Appalachian Power,0.664923,4
4,Seen utility employees volunteering/working in...,Not Met,Appalachian Power,0.51809,5
...,...,...,...,...,...
739,Representative did not put you on hold,Met,West Penn Power,0.722171,1
740,Received status updates about outage,Not Met,West Penn Power,0.505356,1
741,Received status updates about outage,Met,West Penn Power,0.494644,12
742,Online account set up on utility's website,Not Met,West Penn Power,0.246401,7
743,Online account set up on utility's website,Met,West Penn Power,0.753599,5

## Transform PSEG Impact of KPIs on Sat

In [51]:
pseg_sat = output["PSEG Impact of KPIs on Sat 1"]

In [52]:
pseg_sat

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,PSEG Impact of KPIs on Sat 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Filter: Brand Name Deliverable (PSE&G), Named ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Overall Customer Satisfaction Index,Safety and reliability,Problem resolution,Ease,Digital Channels,People,Cost,Trust,Information provided
3,NaN,NaN,Mean,Mean,Mean,Mean,Mean,Mean,Mean,Mean,Mean
4,Utility contacted customer after power restora...,Not Met,553.669099,643.628179,642.455548,597.654738,609.956703,565.442269,381.548504,537.920324,521.81409
5,NaN,Met,650.644854,700.493284,672.467757,672.058152,645.668642,676.232102,570.552497,647.109101,647.80099
6,Aware of utility efforts to improve impact on ...,Not Met,544.013878,606.815328,580.772598,563.682874,583.905468,568.095477,431.969531,531.618723,531.134034
7,NaN,Met,688.223007,733.142335,727.380068,718.073611,683.705671,720.920294,593.902204,690.392172,670.952609
8,Seen utility employees volunteering/working in...,Not Met,596.5346,654.20438,643.657601,627.584935,615.101367,634.729893,464.573343,593.89158,590.27878
9,NaN,Met,698.574785,740.908358,728.955084,721.921151,695.726695,721.541335,630.392306,697.59554,673.235666
10,Easy to do business with,Not Met,563.320792,612.05778,592.269963,589.267706,585.8778,591.066831,468.644725,546.741567,560.825358
11,NaN,Met,740.981687,791.872464,789.73428,769.287318,732.429359,774.138626,637.066127,755.05634,710.340017
12,Considered a valued business partner,Not Met,576.277144,625.602625,601.832353,616.176851,598.417815,603.996594,477.167858,559.821753,568.164843
13,NaN,Met,737.55522,787.879821,791.809395,749.057075,727.350267,771.119997,638.389531,753.606593,711.790724
14,Utility does good job maintaining current infr...,Not Met,483.52636,509.913136,534.31465,472.789582,539.213328,489.893833,451.312753,414.917962,492.080122
15,NaN,Met,686.216113,739.618953,725.682549,713.563227,685.827158,718.186049,582.950466,690.931287,667.863929
16,Understands my energy needs,Not Met,556.092678,610.020032,587.829265,590.404939,577.456705,589.396494,443.115288,545.869491,549.899955
17,NaN,Met,767.158594,811.661183,814.264117,785.061922,757.146211,793.772114,685.610528,776.090229,738.521945
18,Utility helped lower bill by showing how to co...,Not Met,564.4442,626.653686,590.371303,607.040915,601.162198,555.254116,452.316643,561.83395,563.944789
19,NaN,Met,706.95475,752.275815,751.555238,722.408996,701.232995,753.845223,619.297789,705.159662,680.388805
20,Work to attract new businesses to invest in th...,Not Met,606.974519,657.635656,646.363344,621.170768,637.171357,642.688284,484.043237,607.159355,609.695425
21,NaN,Met,683.418184,732.471946,721.202576,721.029045,672.464007,709.400878,603.716866,680.021457,651.988318
22,Number of brief interruptions (<= 5 Min) – 1 o...,Not Met,620.275139,673.781683,654.735269,641.286569,630.294886,628.914703,540.478942,607.216356,616.585859
23,NaN,Met,676.170571,726.19903,713.948876,709.366734,689.140898,705.458427,558.347222,680.74225,670.097365
24,Usage increase or decrease in last year,Not Met,631.319531,657.785931,647.294581,688.477236,645.835433,661.482071,550.758543,615.642384,617.730837
25,NaN,Met,660.060468,719.093552,708.201824,675.36011,665.12789,689.059571,553.465534,661.288862,646.9065

In [53]:
pseg_sat_2 = output["PSEG Impact of KPIs on Sat 2"]

In [54]:
pseg_sat_3 = output["PSEG Impact of KPIs on Sat 3"]

In [55]:
pseg_sat["Table of Contents"][4:]

4     Utility contacted customer after power restora...
5                                                   NaN
6     Aware of utility efforts to improve impact on ...
7                                                   NaN
8     Seen utility employees volunteering/working in...
9                                                   NaN
10                             Easy to do business with
11                                                  NaN
12                 Considered a valued business partner
13                                                  NaN
14    Utility does good job maintaining current infr...
15                                                  NaN
16                          Understands my energy needs
17                                                  NaN
18    Utility helped lower bill by showing how to co...
19                                                  NaN
20    Work to attract new businesses to invest in th...
21                                                  NaN
22    Number of brief interruptions (<= 5 Min) – 1 o...
23                                                  NaN
24              Usage increase or decrease in last year
25                                                  NaN
Name: Table of Contents, dtype: object

In [56]:
def transform_pseg_sat(df):
    f_col = df["Table of Contents"][4:]
    s_col = df["Unnamed: 1"][4:]
    a_col = df.loc[:, "Unnamed: 2":]

    rows = []
    for col in a_col.columns:
        label = a_col[col].iloc[2]
        temp_df = pd.DataFrame({
            "Question": f_col.ffill(),
            "Met": s_col,
            "Mean": a_col[col][4:],
            "Dimension": label,
        })
        rows.append(temp_df)
    new_df = pd.concat(rows, ignore_index=True)
    return new_df

def get_difference(df):
    print(df)

In [57]:
def process_and_stack(df_list, operation):
    """ 
    To do function on all three sheets
    """
    processed = []
    for df in df_list:
        result = operation(df)
        processed.append(result)
    return pd.concat(processed, ignore_index=True)

In [58]:
transform_pseg_sat(pseg_sat)

,Question,Met,Mean,Dimension
0,Utility contacted customer after power restora...,Not Met,553.669099,Overall Customer Satisfaction Index
1,Utility contacted customer after power restora...,Met,650.644854,Overall Customer Satisfaction Index
2,Aware of utility efforts to improve impact on ...,Not Met,544.013878,Overall Customer Satisfaction Index
3,Aware of utility efforts to improve impact on ...,Met,688.223007,Overall Customer Satisfaction Index
4,Seen utility employees volunteering/working in...,Not Met,596.5346,Overall Customer Satisfaction Index
...,...,...,...,...
193,Work to attract new businesses to invest in th...,Met,651.988318,Information provided
194,Number of brief interruptions (<= 5 Min) – 1 o...,Not Met,616.585859,Information provided
195,Number of brief interruptions (<= 5 Min) – 1 o...,Met,670.097365,Information provided
196,Usage increase or decrease in last year,Not Met,617.730837,Information provided
197,Usage increase or decrease in last year,Met,646.9065,Information provided

In [59]:
transform_pseg_sat(pseg_sat_2)

,Question,Met,Mean,Dimension
0,Difficulty finding outage information,Not Met,596.545637,Overall Customer Satisfaction Index
1,Difficulty finding outage information,Met,743.639315,Overall Customer Satisfaction Index
2,Actively selected a rate plan from a set of op...,Not Met,609.048725,Overall Customer Satisfaction Index
3,Actively selected a rate plan from a set of op...,Met,682.787291,Overall Customer Satisfaction Index
4,Business on budget billing plan,Not Met,633.937139,Overall Customer Satisfaction Index
...,...,...,...,...
157,Create jobs directly and indirectly,Met,685.986119,Information provided
158,Awareness of utility efforts to increase gener...,Not Met,549.040082,Information provided
159,Awareness of utility efforts to increase gener...,Met,657.508507,Information provided
160,Aware of positive media news stories (positive...,Not Met,594.535043,Information provided
161,Aware of positive media news stories (positive...,Met,694.359114,Information provided

In [60]:
transform_pseg_sat(pseg_sat_3)

,Question,Met,Mean,Dimension
0,Not aware of a rate increase,Not Met,633.436015,Overall Customer Satisfaction Index
1,Not aware of a rate increase,Met,662.36891,Overall Customer Satisfaction Index
2,Inquired or researched alternative rate plans ...,Not Met,654.462638,Overall Customer Satisfaction Index
3,Inquired or researched alternative rate plans ...,Met,639.493011,Overall Customer Satisfaction Index
4,Number of lengthy outages (> 5 Min) - None,Not Met,643.641879,Overall Customer Satisfaction Index
...,...,...,...,...
193,Representative did not put you on hold,Met,627.000183,Information provided
194,Received status updates about outage,Not Met,604.800152,Information provided
195,Received status updates about outage,Met,669.879292,Information provided
196,Online account set up on utility's website,Not Met,615.757657,Information provided
197,Online account set up on utility's website,Met,637.527482,Information provided

In [61]:
combined_df = process_and_stack([pseg_sat, pseg_sat_2, pseg_sat_3], transform_pseg_sat)

In [62]:
combined_df

,Question,Met,Mean,Dimension
0,Utility contacted customer after power restora...,Not Met,553.669099,Overall Customer Satisfaction Index
1,Utility contacted customer after power restora...,Met,650.644854,Overall Customer Satisfaction Index
2,Aware of utility efforts to improve impact on ...,Not Met,544.013878,Overall Customer Satisfaction Index
3,Aware of utility efforts to improve impact on ...,Met,688.223007,Overall Customer Satisfaction Index
4,Seen utility employees volunteering/working in...,Not Met,596.5346,Overall Customer Satisfaction Index
...,...,...,...,...
553,Representative did not put you on hold,Met,627.000183,Information provided
554,Received status updates about outage,Not Met,604.800152,Information provided
555,Received status updates about outage,Met,669.879292,Information provided
556,Online account set up on utility's website,Not Met,615.757657,Information provided
557,Online account set up on utility's website,Met,637.527482,Information provided

Make another table containing only the differences. The first table has duplicates because we listed `Met` and `Not Met` values separately.

In [63]:
diff_df = combined_df.groupby(['Question', 'Dimension']).agg({
    'Mean': lambda x: x.iloc[1] - x.iloc[0]
}).reset_index()
diff_df.rename(columns={"Mean":"Difference"}, inplace=True)

In [64]:
diff_df

,Question,Dimension,Difference
0,Actively selected a rate plan from a set of op...,Cost,124.511880
1,Actively selected a rate plan from a set of op...,Digital Channels,73.510402
2,Actively selected a rate plan from a set of op...,Ease,40.616362
3,Actively selected a rate plan from a set of op...,Information provided,42.764044
4,Actively selected a rate plan from a set of op...,Overall Customer Satisfaction Index,73.738566
...,...,...,...
274,Work to attract new businesses to invest in th...,Overall Customer Satisfaction Index,76.443665
275,Work to attract new businesses to invest in th...,People,66.712594
276,Work to attract new businesses to invest in th...,Problem resolution,74.839232
277,Work to attract new businesses to invest in th...,Safety and reliability,74.836290
278,Work to attract new businesses to invest in th...,Trust,72.862102

In [65]:
merged_df = pd.merge(combined_df, diff_df, on=["Question", "Dimension"], how="inner")

In [66]:
new_order = ["Question", "Dimension", "Met", "Mean", "Difference"]
merged_df_pseg_impact  = merged_df[new_order]

In [67]:
merged_df_pseg_impact.head()

,Question,Dimension,Met,Mean,Difference
0,Utility contacted customer after power restora...,Overall Customer Satisfaction Index,Not Met,553.669099,96.975755
1,Utility contacted customer after power restora...,Overall Customer Satisfaction Index,Met,650.644854,96.975755
2,Aware of utility efforts to improve impact on ...,Overall Customer Satisfaction Index,Not Met,544.013878,144.209129
3,Aware of utility efforts to improve impact on ...,Overall Customer Satisfaction Index,Met,688.223007,144.209129
4,Seen utility employees volunteering/working in...,Overall Customer Satisfaction Index,Not Met,596.5346,102.040185

## Transform All Brand and Rank KPIs

In [68]:
# Gather them all
sheets = list(output.keys())

In [69]:
sheets

['Electric Business Dimension Ran',
 'Overall Sat KPI by Brand 1 (2)',
 'Overall Sat KPI by Brand 2 (2)',
 'PSEG Impact of KPIs on Sat 1',
 'PSEG Impact of KPIs on Sat 2',
 'PSEG Impact of KPIs on Sat 3',
 'Safety & Reliability Brand and ',
 'Resolving Problems Brand and Ra',
 'Ease Brand and Rank KPIs',
 'Digital channels Brand and Rank',
 'People Brand and Rank KPIs',
 'Cost  Brand and Rank KPIs',
 'Trust  Brand and Rank KPIs',
 'Information provided  Brand and',
 'PSEG Firmographics',
 'NPS Groups Brand',
 'NPS Score Brand',
 'Historically Met KPI PSEG 1',
 'Historically Met KPI PSEG 2',
 'PSEG People KPIs Index',
 'PSEG Cost KPIs Index',
 'PSEG Safety & Reliability KPIs ',
 'PSEG Ease KPIs Index',
 'PSEG Digital Channels KPIs Inde',
 'PSEG Trust KPIs Index',
 'PSEG Info Provided KPIs Index',
 'PSEG Problem Res KPIs Index',
 'PSEG Overall Sat KPIs Index 1',
 'PSEG Overall Sat KPIs Index 2',
 'PSEG Cost Historical',
 'PSEG Safety Historical',
 'PSEG Resolving Problems Histori',
 'PSEG Ease Historical',
 'PSEG Digital Channels Historica',
 'PSEG People Historical',
 'PSEG Trust Historical',
 'PSEG Info Provided Historical']

In [70]:
sheet_names = sheets[6:14]

In [71]:
sheet_names

['Safety & Reliability Brand and ',
 'Resolving Problems Brand and Ra',
 'Ease Brand and Rank KPIs',
 'Digital channels Brand and Rank',
 'People Brand and Rank KPIs',
 'Cost  Brand and Rank KPIs',
 'Trust  Brand and Rank KPIs',
 'Information provided  Brand and']

In [72]:
s_r_kpi = output[sheet_names[0]]

In [73]:
s_r_kpi

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Safety & Reliability Brand and Rank KPIs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Filter: Region Size Segment (East Large), Year...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Brand Name Deliverable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Appalachian Power,NaN,BGE,NaN,Con Edison,NaN,Eversource,NaN,...,PECO,NaN,PPL Electric Utilities,NaN,PSE&G,NaN,PSEG Long Island,NaN,West Penn Power,NaN
4,NaN,NaN,%,Rank,%,Rank,%,Rank,%,Rank,...,%,Rank,%,Rank,%,Rank,%,Rank,%,Rank
5,Aware of utility efforts to improve impact on ...,Not Met,0.335077,7,0.266151,11,0.277679,10,0.35804,5,...,0.387155,3,0.406688,2,0.271612,11,0.342828,7,0.387005,3
6,NaN,Met,0.664923,4,0.733849,1,0.722321,3,0.64196,7,...,0.612845,9,0.593312,11,0.728388,1,0.657172,4,0.612995,9
7,Considered a valued business partner,Not Met,0.673538,3,0.643376,7,0.60406,10,0.624301,8,...,0.665476,3,0.614287,9,0.548749,11,0.665946,3,0.540769,12
8,NaN,Met,0.326462,8,0.356624,6,0.39594,3,0.375699,5,...,0.334524,8,0.385713,4,0.451251,2,0.334054,8,0.459231,1
9,Utility does good job maintaining current infr...,Not Met,0.146019,2,0.098067,7,0.090226,11,0.095145,7,...,0.111128,5,0.097967,7,0.093598,11,0.113662,5,0.09908,7
10,NaN,Met,0.853981,10,0.901933,3,0.909774,1,0.904855,3,...,0.888872,7,0.902033,3,0.906402,1,0.886338,7,0.90092,3
11,Number of lengthy outages (> 5 Min) - None,Not Met,0.66866,3,0.569866,5,0.368514,12,0.466785,11,...,0.483497,8,0.483268,8,0.479978,8,0.537969,7,0.67933,2
12,NaN,Met,0.33134,10,0.430134,8,0.631486,1,0.533215,2,...,0.516503,3,0.516732,3,0.520022,3,0.462031,6,0.32067,11
13,Number of brief interruptions (<= 5 Min) – 1 o...,Not Met,0.492375,3,0.406885,6,0.29772,11,0.309196,10,...,0.264692,12,0.412502,6,0.328249,9,0.350519,8,0.562168,2
14,NaN,Met,0.507625,10,0.593115,6,0.70228,2,0.690804,3,...,0.735308,1,0.587498,6,0.671751,4,0.649481,5,0.437832,11
15,Difficulty finding outage information,Not Met,0.675203,4,0.514176,12,0.642105,6,0.541139,11,...,0.592777,9,0.590393,9,0.67461,5,0.620387,7,0.596823,8
16,NaN,Met,0.324797,9,0.485824,1,0.357895,7,0.458861,2,...,0.407223,3,0.409607,3,0.32539,8,0.379613,6,0.403177,5
17,Aware of utility efforts to increase alternati...,Not Met,0.357087,5,0.313865,10,0.321873,9,0.405179,4,...,0.431541,2,0.360518,5,0.259478,12,0.332495,8,0.4325,2
18,NaN,Met,0.642913,7,0.686135,2,0.678127,4,0.594821,9,...,0.568459,10,0.639482,7,0.740522,1,0.667505,5,0.5675,10
19,Noticed vegetation management efforts,Not Met,0.415782,11,0.505771,4,0.551242,2,0.467815,9,...,0.629131,1,0.479698,6,0.475216,6,0.28109,12,0.481675,6
20,NaN,Met,0.584218,2,0.494229,8,0.448758,11,0.532185,4,...,0.370869,12,0.520302,5,0.524784,5,0.71891,1,0.518325,5
21,Awareness of utility efforts to increase gener...,Not Met,0.358473,5,0.32391,7,0.305273,8,0.301505,9,...,0.366341,4,0.394313,2,0.226171,12,0.281473,11,0.387005,2
22,NaN,Met,0.641527,8,0.67609,6,0.694727,5,0.698495,3,...,0.633659,9,0.605687,10,0.773829,1,0.718527,2,0.612995,10
23,Aware of positive media news stories (positive...,Not Met,0.72755,1,0.66954,2,0.433508,8,0.484952,4,...,0.405973,9,0.339873,11,0.343098,11,0.353799,10,0.457418,7
24,NaN,Met,0.27245,12,0.33046,11,0.566492,5,0.515048,8,...,0.594027,4,0.660127,1,0.656902,1,0.646201,3,0.542582,6

In [74]:
def transform_brand_rank_kpis(df):
    rows = []

    f_col = df["Table of Contents"][5:].ffill()
    s_col = df["Unnamed: 1"][5:]

    for col in df:
        temp_df = pd.DataFrame({
            "Question": f_col,
            "Met": s_col,
        })

        if df[col].iloc[4] == "%":
            temp_df["%"] = df[col].iloc[5:]
        elif df[col].iloc[4] == "Rank":
            temp_df["Rank"] = df[col].iloc[5:]
        temp_df["Brand Name"] =  df[col].iloc[3]
        rows.append(temp_df)
    return rows

In [75]:
cb_df_list = transform_brand_rank_kpis(s_r_kpi)

In [76]:
def merge_brk(df_list):
    merged_list = []
    d1 = []
    d2 = []
    df_list = df_list[2:]
    for i in range(len(df_list)):
        if i % 2 == 0:
            d1.append(df_list[i])
        else:
            d2.append(df_list[i])
    for ldf, rdf in zip(d1, d2):
        merged = pd.merge(ldf, rdf, on=["Question", "Met"], how="inner")
        merged_list.append(merged)
    new_df = pd.concat(merged_list, axis=0, ignore_index=True)
    new_df = new_df.drop(columns=["Brand Name_y"])
    new_df = new_df.rename(columns={"Brand Name_x": "Brand Name"})

    reorder = ["Question", "Met", "%", "Rank", "Brand Name"]
    new_df = new_df.reindex(columns=reorder)
    return new_df

In [77]:
merge_brk(cb_df_list).head()

,Question,Met,%,Rank,Brand Name
0,Aware of utility efforts to improve impact on ...,Not Met,0.335077,7,Appalachian Power
1,Aware of utility efforts to improve impact on ...,Met,0.664923,4,Appalachian Power
2,Considered a valued business partner,Not Met,0.673538,3,Appalachian Power
3,Considered a valued business partner,Met,0.326462,8,Appalachian Power
4,Utility does good job maintaining current infr...,Not Met,0.146019,2,Appalachian Power

In [78]:
s = sheet_names

In [79]:
sheets = [output[s[1]],output[s[2]],output[s[3]],output[s[4]],output[s[5]],output[s[6]],output[s[7]]]

In [80]:
def process_and_stack_brk(s, operation, operation2):
    result_dfs = []
    for sheet in s:
        result = operation2(operation(sheet))
        if isinstance(result, list):
            result_dfs.extend(result)
        else:
            result_dfs.append(result)
    new_df = pd.concat(result_dfs, axis=0, ignore_index=True)
    return new_df

In [81]:
combined_brk = process_and_stack_brk(sheets, transform_brand_rank_kpis, merge_brk)

In [82]:
combined_brk.head()

,Question,Met,%,Rank,Brand Name
0,Easy to do business with,Not Met,0.583797,5,Appalachian Power
1,Easy to do business with,Met,0.416203,7,Appalachian Power
2,Considered a valued business partner,Not Met,0.673538,3,Appalachian Power
3,Considered a valued business partner,Met,0.326462,8,Appalachian Power
4,Utility contacted customer after power restora...,Not Met,0.276539,3,Appalachian Power

In [83]:
sheets[0].head(10)

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Resolving Problems Brand and Rank KPIs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Filter: Region Size Segment (East Large), Year...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Brand Name Deliverable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Appalachian Power,NaN,BGE,NaN,Con Edison,NaN,Eversource,NaN,...,PECO,NaN,PPL Electric Utilities,NaN,PSE&G,NaN,PSEG Long Island,NaN,West Penn Power,NaN
4,NaN,NaN,%,Rank,%,Rank,%,Rank,%,Rank,...,%,Rank,%,Rank,%,Rank,%,Rank,%,Rank
5,Easy to do business with,Not Met,0.583797,5,0.569372,7,0.593186,3,0.577223,5,...,0.521316,11,0.555362,8,0.517433,11,0.541968,10,0.552967,9
6,NaN,Met,0.416203,7,0.430628,6,0.406814,9,0.422777,7,...,0.478684,1,0.444638,5,0.482567,1,0.458032,3,0.447033,4
7,Considered a valued business partner,Not Met,0.673538,3,0.643376,7,0.60406,10,0.624301,8,...,0.665476,3,0.614287,9,0.548749,11,0.665946,3,0.540769,12
8,NaN,Met,0.326462,8,0.356624,6,0.39594,3,0.375699,5,...,0.334524,8,0.385713,4,0.451251,2,0.334054,8,0.459231,1
9,Utility contacted customer after power restora...,Not Met,0.276539,3,0.357937,1,0.230617,7,0.193476,9,...,0.28192,3,0.246905,6,0.116725,11,0.121253,11,0.271753,5

## Tranform NPS
Brand	Detractor	Passive	Promoter Adding Mean

In [84]:
nps_1 = output["NPS Groups Brand"]

In [85]:
nps_2 = output["NPS Score Brand"]

In [86]:
nps_1

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NPS Groups Brand,NaN,NaN,NaN,NaN,NaN
1,"Filter: Region Size Segment (East Large), Year...",NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NPS Groups,NaN,NaN
3,NaN,NaN,NaN,Detractor,Passive,Promoter
4,Brand Name Deliverable,Appalachian Power,%,0.291055,0.310607,0.398337
5,NaN,BGE,%,0.213437,0.239127,0.547436
6,NaN,Con Edison,%,0.209073,0.289762,0.501165
7,NaN,Eversource,%,0.229042,0.311463,0.459494
8,NaN,Jersey Central Power & Light,%,0.120139,0.419306,0.460556
9,NaN,National Grid,%,0.189381,0.359538,0.451081
10,NaN,NYSEG,%,0.353312,0.246482,0.400206
11,NaN,PECO,%,0.198578,0.288258,0.513164
12,NaN,PPL Electric Utilities,%,0.185404,0.312098,0.502498
13,NaN,PSE&G,%,0.103096,0.247608,0.649296
14,NaN,PSEG Long Island,%,0.166581,0.270495,0.562925
15,NaN,West Penn Power,%,0.103049,0.352885,0.544066

In [87]:
nps_f_col = nps_1["Unnamed: 1"][4:]

In [88]:
nps_f_col_2 = nps_2["Unnamed: 1"][4:]

In [89]:
def transform_nps(df):
    rows = []
    for col in df.columns:
        sliced = df[col][3:]
        rows.append(sliced.reset_index(drop=True))
    result_df = pd.concat(rows, axis=1)
    result_df.columns = df.columns
    return result_df

In [90]:
nps_1 = transform_nps(nps_1)

In [91]:
nps_1 = nps_1.iloc[:, 1:]
nps_1

                      Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0                            NaN        NaN  Detractor    Passive   Promoter
1              Appalachian Power          %   0.291055   0.310607   0.398337
2                            BGE          %   0.213437   0.239127   0.547436
3                     Con Edison          %   0.209073   0.289762   0.501165
4                     Eversource          %   0.229042   0.311463   0.459494
5   Jersey Central Power & Light          %   0.120139   0.419306   0.460556
6                  National Grid          %   0.189381   0.359538   0.451081
7                          NYSEG          %   0.353312   0.246482   0.400206
8                           PECO          %   0.198578   0.288258   0.513164
9         PPL Electric Utilities          %   0.185404   0.312098   0.502498
10                         PSE&G          %   0.103096   0.247608   0.649296
11              PSEG Long Island          %   0.166581   0.270495   0.562925
12               West Penn Power          %   0.103049   0.352885   0.544066

In [92]:
nps_1.iloc[0,0] = "Brand Name"

In [93]:
nps_1 = nps_1.drop('Unnamed: 2', axis=1)

In [94]:
nps_2

,Table of Contents,Unnamed: 1,Unnamed: 2
0,NPS Score Brand,NaN,NaN
1,"Filter: Region Size Segment (East Large), Year...",NaN,NaN
2,NaN,NaN,NPS Score
3,NaN,NaN,Mean
4,Brand Name Deliverable,Appalachian Power,10.728184
5,NaN,BGE,33.399889
6,NaN,Con Edison,29.209273
7,NaN,Eversource,23.045161
8,NaN,Jersey Central Power & Light,34.041667
9,NaN,National Grid,26.170048
10,NaN,NYSEG,4.689328
11,NaN,PECO,31.458647
12,NaN,PPL Electric Utilities,31.709464
13,NaN,PSE&G,54.619993
14,NaN,PSEG Long Island,39.634408
15,NaN,West Penn Power,44.101649

In [95]:
nps_2 = nps_2.iloc[3:, 2:]

In [96]:
nps_2 = nps_2.reset_index(drop=True)

In [97]:
combined_df_nps = pd.concat([nps_1, nps_2], axis=1)

In [98]:
combined_df_nps

                      Unnamed: 1 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 2
0                     Brand Name  Detractor    Passive   Promoter       Mean
1              Appalachian Power   0.291055   0.310607   0.398337  10.728184
2                            BGE   0.213437   0.239127   0.547436  33.399889
3                     Con Edison   0.209073   0.289762   0.501165  29.209273
4                     Eversource   0.229042   0.311463   0.459494  23.045161
5   Jersey Central Power & Light   0.120139   0.419306   0.460556  34.041667
6                  National Grid   0.189381   0.359538   0.451081  26.170048
7                          NYSEG   0.353312   0.246482   0.400206   4.689328
8                           PECO   0.198578   0.288258   0.513164  31.458647
9         PPL Electric Utilities   0.185404   0.312098   0.502498  31.709464
10                         PSE&G   0.103096   0.247608   0.649296  54.619993
11              PSEG Long Island   0.166581   0.270495   0.562925  39.634408
12               West Penn Power   0.103049   0.352885   0.544066  44.101649

In [99]:
combined_df_nps = combined_df_nps.rename(columns=combined_df_nps.iloc[0]).drop(df.index[0])

In [100]:
combined_df_nps

                      Brand Name Detractor   Passive  Promoter       Mean
1              Appalachian Power  0.291055  0.310607  0.398337  10.728184
2                            BGE  0.213437  0.239127  0.547436  33.399889
3                     Con Edison  0.209073  0.289762  0.501165  29.209273
4                     Eversource  0.229042  0.311463  0.459494  23.045161
5   Jersey Central Power & Light  0.120139  0.419306  0.460556  34.041667
6                  National Grid  0.189381  0.359538  0.451081  26.170048
7                          NYSEG  0.353312  0.246482  0.400206   4.689328
8                           PECO  0.198578  0.288258  0.513164  31.458647
9         PPL Electric Utilities  0.185404  0.312098  0.502498  31.709464
10                         PSE&G  0.103096  0.247608  0.649296  54.619993
11              PSEG Long Island  0.166581  0.270495  0.562925  39.634408
12               West Penn Power  0.103049  0.352885  0.544066  44.101649

# Tranform Historically Met KPI
May be Question Met Quarter Value

In [101]:
hist_kpi = output["Historically Met KPI PSEG 1"]
hist_kpi_2 = output["Historically Met KPI PSEG 2"]

In [102]:
hist_kpi = hist_kpi.iloc[2:]
hist_kpi.head()

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
2,NaN,NaN,Year/Wave,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,2024 W1,NaN,2024 W2,NaN,2025 W1,NaN
4,NaN,NaN,%,Rank,%,Rank,%,Rank
5,Utility contacted customer after power restora...,Not Met,0.272431,1,0.164582,2,0.116725,3
6,NaN,Met,0.727569,3,0.835418,2,0.883275,1

In [103]:
hist_kpi_2 = hist_kpi_2.iloc[2:]

In [104]:
hist_ques = hist_kpi["Table of Contents"]
hist_ques

2                                                   NaN
3                                                   NaN
4                                                   NaN
5     Utility contacted customer after power restora...
6                                                   NaN
7     Aware of utility efforts to improve impact on ...
8                                                   NaN
9     Seen utility employees volunteering/working in...
10                                                  NaN
11                             Easy to do business with
12                                                  NaN
13                 Considered a valued business partner
14                                                  NaN
15    Utility does good job maintaining current infr...
16                                                  NaN
17                          Understands my energy needs
18                                                  NaN
19    Utility helped lower bill by showing how to co...
20                                                  NaN
21    Work to attract new businesses to invest in th...
22                                                  NaN
23    Number of brief interruptions (<= 5 Min) – 1 o...
24                                                  NaN
25              Usage increase or decrease in last year
26                                                  NaN
27                Difficulty finding outage information
28                                                  NaN
29    Actively selected a rate plan from a set of op...
30                                                  NaN
31                      Business on budget billing plan
32                                                  NaN
33                                  Chose bill due date
34                                                  NaN
35          Receive summary bill for multiple locations
36                                                  NaN
37    It required little effort to resolve my recent...
38                                                  NaN
39                  Create jobs directly and indirectly
40                                                  NaN
41    Awareness of utility efforts to increase gener...
42                                                  NaN
43    Aware of positive media news stories (positive...
44                                                  NaN
45                         Not aware of a rate increase
46                                                  NaN
47    Inquired or researched alternative rate plans ...
48                                                  NaN
Name: Table of Contents, dtype: object

In [105]:
hist_ques_2 = hist_kpi_2["Table of Contents"]

In [106]:
hist_met = hist_kpi["Unnamed: 1"]
hist_met

2         NaN
3         NaN
4         NaN
5     Not Met
6         Met
7     Not Met
8         Met
9     Not Met
10        Met
11    Not Met
12        Met
13    Not Met
14        Met
15    Not Met
16        Met
17    Not Met
18        Met
19    Not Met
20        Met
21    Not Met
22        Met
23    Not Met
24        Met
25    Not Met
26        Met
27    Not Met
28        Met
29    Not Met
30        Met
31    Not Met
32        Met
33    Not Met
34        Met
35    Not Met
36        Met
37    Not Met
38        Met
39    Not Met
40        Met
41    Not Met
42        Met
43    Not Met
44        Met
45    Not Met
46        Met
47    Not Met
48        Met
Name: Unnamed: 1, dtype: object

In [107]:
hist_met_2 = hist_kpi_2["Unnamed: 1"]

In [108]:
hist_quarters = hist_kpi.iloc[:,2:]
hist_quarters_2 = hist_kpi.iloc[:,2:]

In [109]:
hist_quarters.head()

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7
2  Year/Wave        NaN        NaN        NaN        NaN        NaN
3    2024 W1        NaN    2024 W2        NaN    2025 W1        NaN
4          %       Rank          %       Rank          %       Rank
5   0.272431          1   0.164582          2   0.116725          3
6   0.727569          3   0.835418          2   0.883275          1

In [110]:
hist_quarters_2.head()

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7
2  Year/Wave        NaN        NaN        NaN        NaN        NaN
3    2024 W1        NaN    2024 W2        NaN    2025 W1        NaN
4          %       Rank          %       Rank          %       Rank
5   0.272431          1   0.164582          2   0.116725          3
6   0.727569          3   0.835418          2   0.883275          1

In [111]:
def transform_hist_met_kpi(df, df2, df3):
    rows = []
    for col in df3:
        label = df3[col][3]
        temp_df = pd.DataFrame({
            "Question": df[3:].ffill(),
            "Met": df2[3:],
            "Quarter": label
        })

        if df3[col].iloc[2] == "%":
            temp_df["%"] = df3[col].iloc[2:]
        elif df3[col].iloc[2] == "Rank":
            temp_df["Rank"] = df3[col].iloc[2:]
        rows.append(temp_df)
    return rows

In [112]:
def merge_hmk(df_list):
    d1 = []
    d2 = []
    merged_l = []
    for i in range(len(df_list)):
        if i % 2 == 0:
            d1.append(df_list[i])
        else:
            d2.append(df_list[i])
    
    for ld, rd in zip(d1, d2):
        merged = pd.merge(ld, rd, on=["Question", "Met"])
        merged_l.append(merged)
    new_df = pd.concat(merged_l, ignore_index=True)
    new_df = new_df.drop(columns=["Quarter_y"])
    new_df = new_df.rename(columns={"Quarter_x": "Quarter"})
    return new_df

In [113]:
df_lists_1 = transform_hist_met_kpi(hist_ques, hist_met, hist_quarters)
df_lists_2 = transform_hist_met_kpi(hist_ques_2, hist_met_2, hist_quarters_2)

In [114]:
t_hist_df1 = merge_hmk(df_lists_1)
t_hist_df2 = merge_hmk(df_lists_2)

In [115]:
combined_t_hist_dfs = pd.concat([t_hist_df1, t_hist_df2], axis=0)
combined_t_hist_dfs["%"] = combined_t_hist_dfs["%"].fillna(0)

In [116]:
combined_t_hist_dfs["Rank"] = combined_t_hist_dfs["Rank"].fillna(0)

In [117]:
combined_t_hist_dfs["Met"] = combined_t_hist_dfs["Met"].fillna("None Reported")

In [118]:
combined_t_hist_dfs

,Question,Met,Quarter,%,Rank
0,Utility contacted customer after power restora...,Not Met,2024 W1,0.272431,1
1,Utility contacted customer after power restora...,Met,2024 W1,0.727569,3
2,Aware of utility efforts to improve impact on ...,Not Met,2024 W1,0.416756,1
3,Aware of utility efforts to improve impact on ...,Met,2024 W1,0.583244,3
4,Seen utility employees volunteering/working in...,Not Met,2024 W1,0.607462,1
...,...,...,...,...,...
49,Representative did not put you on hold,Met,2025 W1,0.440437,1
50,Received status updates about outage,Not Met,2025 W1,0.345629,3
51,Received status updates about outage,Met,2025 W1,0.654371,1
52,Online account set up on utility's website,Not Met,2025 W1,0.449536,3
53,Online account set up on utility's website,Met,2025 W1,0.550464,1

## Tranforming the Cost KPIs Index

In [119]:
sheet_names

['Safety & Reliability Brand and ',
 'Resolving Problems Brand and Ra',
 'Ease Brand and Rank KPIs',
 'Digital channels Brand and Rank',
 'People Brand and Rank KPIs',
 'Cost  Brand and Rank KPIs',
 'Trust  Brand and Rank KPIs',
 'Information provided  Brand and']

In [120]:
# Subject KPI Index
names_kpi = [
 'PSEG People KPIs Index',
 'PSEG Cost KPIs Index',
 'PSEG Safety & Reliability KPIs ',
 'PSEG Ease KPIs Index',
 'PSEG Digital Channels KPIs Inde',
 'PSEG Trust KPIs Index',
 'PSEG Info Provided KPIs Index',
 'PSEG Problem Res KPIs Index',
 ]

In [121]:
output[names_kpi[0]].head()

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,PSEG People KPIs Index,NaN,NaN,NaN
1,"Filter: Brand Name Deliverable (PSE&G), Region...",NaN,NaN,NaN
2,Weighted calculation,NaN,NaN,NaN
3,NaN,NaN,People,NaN
4,NaN,NaN,Mean,Unweighted base

In [122]:
output[names_kpi[1]].head()

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,PSEG Cost KPIs Index,NaN,NaN,NaN
1,"Filter: Region Size Segment (East Large), Bran...",NaN,NaN,NaN
2,NaN,NaN,Cost,NaN
3,NaN,NaN,Mean,Unweighted base
4,Utility does good job maintaining current infr...,Not Met,451.312753,21

In [123]:
output[names_kpi[2]].head()

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,PSEG Safety & Reliability KPIs Index,NaN,NaN,NaN
1,"Filter: Region Size Segment (East Large), Bran...",NaN,NaN,NaN
2,NaN,NaN,Safety and reliability,NaN
3,NaN,NaN,Mean,Unweighted base
4,Aware of utility efforts to improve impact on ...,Not Met,606.815328,66

In [124]:
def transform_kpi_index(df):
    df = df.reset_index(drop=True)
    rows = []
    o_col = df.iloc[:,2:]
    for col in o_col:
        m_idx = o_col[col].first_valid_index()
        if o_col[col].iloc[m_idx+1] == "Mean":    
            # Locating the cells to copy over
            f_col = df["Table of Contents"].iloc[m_idx+2:].ffill()
            s_col = df["Unnamed: 1"].iloc[m_idx+2:]
            m_col = o_col[col].iloc[m_idx+2:]
            u_col = df["Unnamed: 3"].iloc[m_idx+2:]
            d_col = o_col[col].iloc[m_idx]
            # creating the tables
            temp_df = pd.DataFrame({
                "Question": f_col,
                "Met": s_col,
                "Mean": m_col,
                "Unweighted base": u_col,
                "Dimension": d_col
            })   
        rows.append(temp_df)
    return rows

In [125]:
def process_merged_dfs(df, names, op):
    merge_kpis = []
    for name in names:
        result = op(df[name])
        if isinstance(result, list):
            merge_kpis.extend(result)
        else:
            merge_kpis.append(result)
    new_df = pd.concat(merge_kpis, axis=0)
    return new_df

In [126]:
merged_kpis_all = process_merged_dfs(output, names_kpi, transform_kpi_index)

In [127]:
merged_kpis_all.head()

,Question,Met,Mean,Unweighted base,Dimension
5,Utility does good job maintaining current infr...,Not Met,490,21,People
6,Utility does good job maintaining current infr...,Met,718,203,People
7,Easy to do business with,Not Met,591,125,People
8,Easy to do business with,Met,774,117,People
9,Understands my energy needs,Not Met,589,136,People

# Transforming PSEG Overall Sat KPIs Index 1 and 2

In [128]:
names_pseg_overall_kpi_index = [
     'PSEG Overall Sat KPIs Index 1',
 'PSEG Overall Sat KPIs Index 2',
]

In [129]:
overall_sat_kpis = process_merged_dfs(output, names_pseg_overall_kpi_index, transform_kpi_index)

In [130]:
del overall_sat_kpis["Dimension"]

In [131]:
overall_sat_kpis.head()

,Question,Met,Mean,Unweighted base
4,Utility contacted customer after power restora...,Not Met,553.669099,13
5,Utility contacted customer after power restora...,Met,650.644854,98
6,Aware of utility efforts to improve impact on ...,Not Met,544.013878,66
7,Aware of utility efforts to improve impact on ...,Met,688.223007,176
8,Seen utility employees volunteering/working in...,Not Met,596.5346,118

# Transforming the Cost Historicals

In [132]:
historicals = [
 'PSEG Cost Historical',
 'PSEG Safety Historical',
 'PSEG Resolving Problems Histori',
 'PSEG Ease Historical',
 'PSEG Digital Channels Historica',
 'PSEG People Historical',
 'PSEG Trust Historical',
 'PSEG Info Provided Historical'
 ]

In [133]:
output[historicals[0]].head(10)

,Table of Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,PSEG Cost Historical,NaN,NaN,NaN,NaN
1,"Filter: Region Size Segment (East Large), Bran...",NaN,NaN,NaN,NaN
2,NaN,NaN,Year/Wave,NaN,NaN
3,NaN,NaN,2024 W1,2024 W2,2025 W1
4,NaN,NaN,%,%,%
5,Utility does good job maintaining current infr...,Not Met,0.075743,0.06386,0.093598
6,NaN,Met,0.924257,0.93614,0.906402
7,Utility helped lower bill by showing how to co...,Not Met,0.46176,0.448434,0.345629
8,NaN,Met,0.53824,0.551566,0.654371
9,Actively selected a rate plan from a set of op...,Not Met,0.658966,0.596789,0.457471

In [134]:
def transform_cost_historicals(df):
    df = df.reset_index(drop=True)
    rows = []
    o_col = df.iloc[:,2:]
    m_idx = o_col["Unnamed: 2"].first_valid_index()

    temp_df = pd.DataFrame({
        "Question": df["Table of Contents"].iloc[m_idx+3:].ffill(),
        "Met": df["Unnamed: 1"].iloc[m_idx+3:],
        df["Unnamed: 2"].iloc[m_idx+1]: df["Unnamed: 2"].iloc[m_idx+3:],
        df["Unnamed: 3"].iloc[m_idx+1]: df["Unnamed: 3"].iloc[m_idx+3:],
        df["Unnamed: 4"].iloc[m_idx+1]: df["Unnamed: 4"].iloc[m_idx+3:],
        # Add the dimension
        "Dimension": df["Table of Contents"].iloc[0]
    })
    rows.append(temp_df)
    return rows

In [135]:
def process_merged_dfs(df, names, op):
    merge_kpis = []
    for name in names:
        result = op(df[name])
        if isinstance(result, list):
            merge_kpis.extend(result)
        else:
            merge_kpis.append(result)
    new_df = pd.concat(merge_kpis, axis=0)
    return new_df

In [136]:
complete_hists = process_merged_dfs(output, historicals, transform_cost_historicals).fillna(0)

In [137]:
complete_hists["Dimension"] = complete_hists['Dimension'].str.replace(r'\bPSEG\b\s*|\s*\bHistorical\b', '', case=False, regex=True)

In [138]:
complete_hists['Dimension'] = complete_hists['Dimension'].str.strip().replace(r'\s+', ' ', regex=True)

In [139]:
complete_hists["Dimension"].unique()

array(['Cost', 'Safety', 'Resolving Problems', 'Ease', 'Digital Channels',
       'People', 'Trust', 'Info Provided'], dtype=object)

In [140]:
replacements = {
    'safety': 'Safety and Reliability',
    'resolving problems': 'Problem Resolution',
    'info provided': 'Information Provided'
}

In [141]:
complete_hists["Dimension"] = complete_hists["Dimension"].apply(lambda x: replacements.get(x.lower(), x))

In [142]:
complete_hists["Dimension"].unique()

array(['Cost', 'Safety and Reliability', 'Problem Resolution', 'Ease',
       'Digital Channels', 'People', 'Trust', 'Information Provided'],
      dtype=object)

In [143]:
complete_hists

,Question,Met,2024 W1,2024 W2,2025 W1,Dimension
5,Utility does good job maintaining current infr...,Not Met,0.075743,0.063860,0.093598,Cost
6,Utility does good job maintaining current infr...,Met,0.924257,0.936140,0.906402,Cost
7,Utility helped lower bill by showing how to co...,Not Met,0.461760,0.448434,0.345629,Cost
8,Utility helped lower bill by showing how to co...,Met,0.538240,0.551566,0.654371,Cost
9,Actively selected a rate plan from a set of op...,Not Met,0.658966,0.596789,0.457471,Cost
...,...,...,...,...,...,...
20,Aware of positive media news stories (positive...,Met,0.000000,0.000000,0.656902,Information Provided
21,Have business specific content on website,Not Met,0.281257,0.206827,0.179552,Information Provided
22,Have business specific content on website,Met,0.718743,0.793173,0.820448,Information Provided
23,Not aware of a rate increase,Not Met,0.000000,0.000000,0.460199,Information Provided
24,Not aware of a rate increase,Met,0.000000,0.000000,0.539801,Information Provided

# Transposing Historicals for Power BI

In [144]:
complete_hists.head()

,Question,Met,2024 W1,2024 W2,2025 W1,Dimension
5,Utility does good job maintaining current infr...,Not Met,0.075743,0.063860,0.093598,Cost
6,Utility does good job maintaining current infr...,Met,0.924257,0.936140,0.906402,Cost
7,Utility helped lower bill by showing how to co...,Not Met,0.461760,0.448434,0.345629,Cost
8,Utility helped lower bill by showing how to co...,Met,0.538240,0.551566,0.654371,Cost
9,Actively selected a rate plan from a set of op...,Not Met,0.658966,0.596789,0.457471,Cost

# Export files to Excel
Collecting all the dataframes. Still working on the last two transformations.

In [145]:
electric_biz = teb_df
firmographics = transform_firmographics(firm_col_1, firm_col_2, firm_mean)
overall_sat_by_kpi = stacked_overall_sat
pseg_impact_of_kpis = merged_df_pseg_impact
brand_and_rank_kpis = combined_brk
nps = combined_df_nps
hist_met_kpis = combined_t_hist_dfs
subject_kpis = merged_kpis_all
overall_sat_kpis
complete_hists

,Question,Met,2024 W1,2024 W2,2025 W1,Dimension
5,Utility does good job maintaining current infr...,Not Met,0.075743,0.063860,0.093598,Cost
6,Utility does good job maintaining current infr...,Met,0.924257,0.936140,0.906402,Cost
7,Utility helped lower bill by showing how to co...,Not Met,0.461760,0.448434,0.345629,Cost
8,Utility helped lower bill by showing how to co...,Met,0.538240,0.551566,0.654371,Cost
9,Actively selected a rate plan from a set of op...,Not Met,0.658966,0.596789,0.457471,Cost
...,...,...,...,...,...,...
20,Aware of positive media news stories (positive...,Met,0.000000,0.000000,0.656902,Information Provided
21,Have business specific content on website,Not Met,0.281257,0.206827,0.179552,Information Provided
22,Have business specific content on website,Met,0.718743,0.793173,0.820448,Information Provided
23,Not aware of a rate increase,Not Met,0.000000,0.000000,0.460199,Information Provided
24,Not aware of a rate increase,Met,0.000000,0.000000,0.539801,Information Provided

In [ ]:
with pd.ExcelWriter(r'transformed_files\electric_business_transformed_files_7_30_new.xlsx') as writer:
    electric_biz.to_excel(writer, sheet_name='Toplines', index=False)
    firmographics.to_excel(writer, sheet_name='Firmographics', index=False)
    overall_sat_by_kpi.to_excel(writer, sheet_name='Overall Sat by KPIs', index=False)
    pseg_impact_of_kpis.to_excel(writer, sheet_name='PSEG Impact of KPIs', index=False)
    brand_and_rank_kpis.to_excel(writer, sheet_name='Brand and Rank KPIs', index=False)
    nps.to_excel(writer, sheet_name='NPS Score', index=False)
    hist_met_kpis.to_excel(writer, sheet_name='Historically Met KPIs', index=False)
    subject_kpis.to_excel(writer, sheet_name='Subject KPIs Index', index=False)
    overall_sat_kpis.to_excel(writer, sheet_name='Overall Sats KPIs', index=False)
    complete_hists.to_excel(writer, sheet_name='Subject Historicals', index=False)

AttributeError: 'DataFrame' object has no attribute 'to_gfrgexcel'